<a href="https://colab.research.google.com/github/samyff12/LATAM/blob/main/IMAE_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Actualizacion IMAE LATAM**

### Paquetes y meses

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import urllib.request as urllib2
import re
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
!pip install XlsxWriter
from google.colab import files

# Selenium
!pip install selenium
!apt-get update 
!apt install chromium-chromedriver
#!pip install kora -q

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

#from kora.selenium import wd
# En caso de contar con archivos en formato pdf: 
# !pip install pymupdf            
# !pip install tabula-py
# import tabula as tb
# import fitz  # this is pymupdf

Collecting XlsxWriter
  Downloading XlsxWriter-3.0.2-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 5.3 MB/s
Installing collected packages: XlsxWriter
Successfully installed XlsxWriter-3.0.2
Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
     |████████████████████████████████| 958 kB 4.9 MB/s
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting urllib3[secure]~=1.26
  Downloading urllib3-1.26.8-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 62.9 MB/s
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
     |████████████████████████████████| 356 kB 65.9 MB/s
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (21.4.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Collecting cryptography>=1.3.4
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 51.3 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Collecting pyOpenSSL>=0.14
  Downloading pyOpenSSL-21.0.0-py2.py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.7 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (2.21)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 2.5 MB/s
Installing collected packages: sniffio, outcome, h11, cryptography, async-generator, wsproto, urllib3, trio, pyOpenSSL, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.8 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed async-generator-1.10 cryptography-36.0.1 h11-0.12.0 outcome-1.1.0 pyOpenSSL-21.0.0 selenium-4.1.0 sniffio-1.2.0 trio-0.19.0 trio-websocket-0.9.2 urllib3-1.26.8 wsproto-1.0.0

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [867 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,822 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,498 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [758 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,459 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [725 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [934 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,935 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,238 kB]
Fetched 14.5 MB in 4s (3,994 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 43 not upgraded.
Need to get 95.3 MB of archives.
After this operation, 327 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 97.0.4692.71-0ubuntu0.18.04.1 [1,142 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 97.0.4692.71-0ubuntu0.18.04.1 [84.7 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 97.0.4692.71-0ubuntu0.18.04.1 [4,370 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 97.0.4692.71-0ubuntu0.18.04.1 [5,055 kB]
Fetched 95.3 MB in 4s (24.0 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 155229 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_97.0.4692.71-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (97.0.4692.71-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_97.0.4692.71-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (97.0.4692.71-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_97.0.4692.71-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (97.0.4692.71-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_97.0.4692.71-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (97.0.4692.71-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (97.0.4692.71-0ubuntu0.18.04.1) ...
Setting up chromium-browser (97.0.4692.71-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (97.0.4692.71-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (97.0.4692.71-0ubuntu0.18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [2]:
##html = requests.get('http://www.secmca.org/chart/?parent=Producci%C3%B3n&scid=2&cid=1&scsid=0&son=%C3%8Dndice%20Mensual%20de%20la%20Actividad%20Econ%C3%B3mica&url=11/14/3-13-50-17-4-52-161/39/265/19-258/444/' +
 #                   '20211-20212-20213-20214-20215-20216-20217-20218-20219-202110-202111-202112-20221-20222-20223-20224-20225-20226-20227-20228-20229-202210-202211-202212' +
 #                   '-&all_vars=2|IMAE,%20variaci%C3%B3n%20interanual')
#soup = BeautifulSoup(html.text,'lxml')
#table = soup.find_all('p', class_='text-right')
#tablec = soup.find_all('th', colspan='1')

#indicadores=[]
#paises =[]
#for i in range(len(table)):
 # ind = float(table[i].text)
#  pais = tablec[i].text
#  indicadores.append(ind)
 # paises.append(pais)

#imae_latam =  pd.DataFrame(indicadores,index = paises,columns = ['IMAE'])
#print(f'IMAE a {fecha}')
#imae_latam

In [3]:
meses = [0,[1,'Enero'],[2,'Febrero'],[3,'Marzo'],[4,'Abril'],[5,'Mayo'],[6,'Junio'],[7,'Julio'],[8,'Agosto'],
         [9,'Septiembre'],[10,'Octubre'],[11,'Noviembre'],[12,'Diciembre']]
mes3 = {'ene':'Enero','feb':'Febrero','mar':'Marzo','abr':'Abril','may':'Mayo','jun':'Junio','jul':'Julio',
        'ago':'Agosto','sep':'Septiembre','oct':'Octubre','nov':'Noviembre','dic':'Diciembre'}
meses_dict = {0:'none',1:'Enero',2:'Febrero',3:'Marzo',4:'Abril',5:'Mayo',6:'Junio',7:'Julio',8:'Agosto',
         9:'Septiembre',10:'Octubre',11:'Noviembre',12:'Diciembre'}
### import calendar

# d = dict((v,k) for k,v in enumerate(calendar.month_abbr))
# d

## Para obtener las series de todo el año 2021-2022

### **SECMCA**

#### Publicaciones disponibles las fechas: 

#####    **El Salvador**
2. 29 Oct
3. 30 Nov
4. 23 Dic
5. 31 Ene

#####    **Panama**
3. 22 Nov
4. 21 Dic


#####    **Honduras**
-. Preliminar 20 de cada mes, con 50 días de rezago y
revisado 30 días después

In [4]:
html2 = requests.get('https://www.secmca.org/chart/?parent=Producci%C3%B3n&scid=2&cid=1&scsid=0&son=%C3%8Dndice%20Mensual%20de%20la%20Actividad%20Econ%C3%B3mica&url=11/14/3-13-50-17-4-52-161/39/265/19-258/81/20171-20172-20173-20174-20175-20176-20177-20178-20179-201710-201711-201712-20181-20182-20183-20184-20185-20186-20187-20188-20189-201810-201811-201812-20191-20192-20193-20194-20195-20196-20197-20198-20199-201910-201911-201912-' +
'20201-20202-20203-20204-20205-20206-20207-20208-20209-202010-202011-202012-20211-20212-20213-20214-20215-20216-20217-20218-20219-202110-202111-202112-&all_vars=1|IMAE').text

In [5]:
# INDICE VERSION
html1 = requests.get('http://www.secmca.org/chart/?parent=Producci%C3%B3n&scid=2&cid=1&scsid=0&son=%C3%8Dndice%20Mensual%20de%20la%20Actividad%20Econ%C3%B3mica&url=11/14/3-13-50-17-4-52-161/39/265/19-258/81/' +
  '20171-20172-20173-20174-20175-20176-20177-20178-20179-201710-201711-201712-20181-20182-20183-20184-20185-20186-20187-20188-20189-201810-201811-201812-20191-20192-20193-20194-20195-20196-20197-20198-20199-201910-201911-201912-' +
  '20201-20202-20203-20204-20205-20206-20207-20208-20209-202010-202011-202012-20211-20212-20213-20214-20215-20216-20217-20218-20219-202110-202111-202112-20221-20222-20223-20224-20225-20226-20227-20228-20229-202210-202211-202212' +
  '-&all_vars=1|IMAE').text
soup1 = BeautifulSoup(html1,'lxml')

tabpais = soup1.find_all('th', colspan='1')
table = soup1.find_all('p', class_='text-left')

In [6]:
fechas = []
for i in range(len(table)):
  x = re.sub(" ","",table[i].text)
  fechas.append(x.replace("\n","").replace('Setiembre','Septiembre'))

paises = [tabpais[i].text for i in range(len(tabpais))]
fechas[-1]

'2021-Noviembre'

In [7]:
#INDICE
table1 = soup1.find_all('p', class_='text-right')
matriz = np.array([])
for i in table1:
  matriz = np.array(np.append(matriz,i))
matriz = np.where(matriz=="--", np.nan, matriz).astype(np.float)
matriz = matriz.reshape(-1,7) # 7 paises
imaeLA = pd.DataFrame(matriz,index=fechas,columns=paises)
imaeLA.tail()

                 Costa Rica  El Salvador  ...  República Dominicana  Panamá
2021-Julio           108.35       110.66  ...                181.94  349.96
2021-Agosto          105.98       113.32  ...                188.79  322.86
2021-Septiembre      109.30       114.29  ...                181.02  317.43
2021-Octubre         111.45       110.98  ...                192.15  366.56
2021-Noviembre       116.41          NaN  ...                204.89     NaN

[5 rows x 7 columns]

import re
tabpais = soup.find_all('th', colspan='1')
table = soup.find_all('p', class_='text-left')
fechas = []
paises =[]
for i in range(len(table)):
  x = re.sub(" ","",table[i].text)
  fechas.append(x.replace("\n",""))
  pais = tabpais[i].text
  #indicadores.append(ind)
  paises.append(pais)
fechas[-1]

table1 = soup.find_all('p', class_='text-right')
matriz = np.array([])
for i in table1:
  matriz = np.array(np.append(matriz,i))
matriz = np.where(matriz=="--", np.nan, matriz).astype(np.float)
matriz = matriz.reshape(-1,7) # 7 paises
imaeLA = pd.DataFrame(matriz,index=fechas,columns=paises)
imaeLA

### **Argentina**

#### Publicaciones disponibles las fechas: 
1. 28 sept 
2. 21 Oct
3. 23 Nov
4. 23 Dic

In [8]:
url = "https://www.indec.gob.ar/ftp/cuadros/economia/sh_emae_mensual_base2004.xls"
urllib2.urlretrieve(url, "test.xls")
data = pd.read_excel('test.xls',header=2)[2:]
data1 = data.iloc[:,:4].dropna(subset = [data.columns[1]]) # data.columns[1] es la columna de los meses
data1.reset_index(drop=True,inplace=True)
data1[data1.columns[0]] = data1[data1.columns[0]].ffill() # forward fill # para los años   data1.columns[0] es la columna de los años
data1 = data1.iloc[11:,:3]

In [9]:
data1['fecha'] = data1[data1.columns[0]].astype(int).astype(str) +"-"+ data1[data1.columns[1]]
data1.set_index(data1.fecha,inplace=True)
data1.iloc[:,2].tail(1)

fecha
2021-Octubre    140.552635
Name: Índice Serie Original\n2004=100, dtype: float64

In [10]:
imaeLA = pd.merge(imaeLA,data1.iloc[:,2],how='left',left_index=True,right_index=True)
imaeLA.columns = [*imaeLA.columns[:-1], 'Argentina']
imaeLA.tail(1)

                Costa Rica  El Salvador  ...  Panamá  Argentina
2021-Noviembre      116.41          NaN  ...     NaN        NaN

[1 rows x 8 columns]

### **Brasil**

#### Publicaciones :
1. 15 sept
2. 15 Oct
3. 16 Nov
4. 15 Dic

In [11]:
urljson = "https://api.bcb.gov.br/dados/serie/bcdata.sgs.24363/dados?formato=json"
urllib2.urlretrieve(urljson, "brasil.json")
bra = pd.read_json('brasil.json')
bra.rename(columns={'valor':'Brasil'},inplace=True)

bra['Brasil1'] = bra.Brasil.pct_change(12)*100 # calculo tasa de crecimiento
bra['date'] = pd.to_datetime(bra['data'],format='%d/%m/%Y') # transformamos a formato fecha
# Creamos indice
bra['fecha'] = pd.DatetimeIndex(bra['date']).year.astype(str) +"-"+pd.DatetimeIndex(bra['date']).month.astype(str)

nombre_mes = [meses[i][1] for i in pd.DatetimeIndex(bra['date']).month.tolist()] # obtenemos nombre del mes
bra['fecha'] = pd.DatetimeIndex(bra['date']).year.astype(str) +"-"+ nombre_mes # creamos indice
bra.set_index(bra.fecha,inplace=True) #reemplazamos indice


bra.tail(1)

                    data  Brasil   Brasil1       date         fecha
fecha
2021-Octubre  01/10/2021  137.78 -1.480157 2021-10-01  2021-Octubre

In [12]:
imaela = pd.merge(imaeLA,bra['Brasil'],how='left',left_index=True,right_index=True) # combinamos la data

In [13]:
#    imaela

### **Mexico**

#### Publicaciones disponibles las fechas: 
1. 27 sept 
2. 25 Oct
3. 25 Nov
4. 24 Dic

In [14]:
url = "https://www.inegi.org.mx/contenidos/temas/economia/cn/igae/tabulados/ori/IGAE_1.xlsx"
urllib2.urlretrieve(url, "test.xlsx")
mex = pd.read_excel('test.xlsx',header=3,nrows=3)
mex = mex.T.reset_index(drop=True) # transponemos y estandarizamos el indice
mex.drop(0,inplace=True) # borramos primera fila
mex[2] = round(mex[2].astype(float),2) # leyendo tasas de crecimiento en el formato numerico y redondeando
mex[0] = mex[0].ffill()

In [15]:
mex[1] = mex[1].replace(['oR','oP','lR','lP','eR','eP'],['o','o','l','l','e','e'], regex=True) #limpiar superindices "Revisado" "Preliminar"
mex[0] = mex[0].replace(['P','R'],['',''],regex=True) # limpiar preliminar de fecha
mex.index = mex[0].astype('str') +"-"+ mex[1] #creamos indice para base de datos
mex.columns = [*mex.columns[:-1], 'México'] # nombramos columna
mex.dropna().tail(1) # mostrar ultimo valor no nulo

                 0        1  México
2021-Octubre  2021  Octubre  108.39

In [16]:
imaela = round(pd.merge(imaela,mex['México'],how='left',left_index=True,right_index=True),2) # combinamos las series

In [17]:
imaela

                 Costa Rica  El Salvador  Guatemala  ...  Argentina  Brasil  México
2017-Enero            96.71       101.46     115.40  ...     136.63  128.56  108.42
2017-Febrero          96.95        99.03     114.27  ...     132.16  129.55  105.28
2017-Marzo           100.86       108.51     118.04  ...     152.62  141.94  111.91
2017-Abril            94.83       101.47     114.66  ...     151.95  133.76  106.20
2017-Mayo             99.06       110.90     113.72  ...     168.39  135.95  112.30
2017-Junio            99.90       113.67     111.56  ...     161.04  134.92  112.80
2017-Julio            96.27       105.54     113.75  ...     150.31  138.36  108.96
2017-Agosto           96.64       107.88     113.89  ...     149.26  140.11  111.77
2017-Septiembre       98.99       106.18     112.05  ...     146.39  134.79  106.32
2017-Octubre         103.97       103.21     113.72  ...     149.39  136.01  112.85
2017-Noviembre       107.71       110.29     117.05  ...     151.93  135.11  116.18
2017-Diciembre       108.11       117.41     122.69  ...     146.78  135.78  113.99
2018-Enero            99.21       105.05     117.63  ...     142.74  132.09  111.01
2018-Febrero          99.00       102.42     117.43  ...     138.82  129.93  107.81
2018-Marzo           103.54       108.34     121.55  ...     155.86  141.58  111.19
2018-Abril            99.60       107.98     119.58  ...     151.52  139.08  111.59
2018-Mayo            104.56       112.54     118.84  ...     159.57  132.29  115.82
2018-Junio           103.46       113.60     116.18  ...     151.13  136.94  114.44
2018-Julio           101.47       108.77     118.10  ...     145.96  141.02  112.80
2018-Agosto          101.12       111.88     117.70  ...     146.77  143.39  114.33
2018-Septiembre      101.69       107.50     115.10  ...     137.75  135.75  108.77
2018-Octubre         106.13       105.81     117.84  ...     142.84  139.83  115.97
2018-Noviembre       108.90       112.22     121.20  ...     140.59  137.65  117.74
2018-Diciembre       107.95       120.20     125.53  ...     136.25  136.29  113.12
2019-Enero           101.52       108.11     121.90  ...     134.52  133.47  112.54
2019-Febrero         102.02       105.81     122.35  ...     132.28  133.80  108.87
2019-Marzo           105.92       113.13     125.80  ...     144.87  138.96  112.34
2019-Abril           100.03       109.87     123.92  ...     149.90  139.58  109.86
2019-Mayo            103.93       115.03     123.78  ...     164.15  139.31  115.28
2019-Junio           103.70       115.27     120.08  ...     150.85  134.99  112.87
2019-Julio           102.63       111.58     122.47  ...     146.77  143.04  113.40
2019-Agosto          101.63       113.64     121.56  ...     141.28  141.84  113.26
2019-Septiembre      103.85       112.01     120.36  ...     134.89  138.25  108.86
2019-Octubre         109.34       109.15     122.39  ...     141.51  142.87  115.36
2019-Noviembre       112.08       117.20     126.79  ...     137.66  138.86  116.24
2019-Diciembre       111.44       123.83     130.44  ...     135.67  137.46  113.33
2020-Enero           104.14       110.92     127.40  ...     132.28  133.86  112.32
2020-Febrero         105.17       109.93     125.54  ...     129.75  134.66  108.75
2020-Marzo           103.56       105.58     121.36  ...     129.10  136.46  109.90
2020-Abril            90.93        88.31     112.77  ...     111.90  118.83   88.18
2020-Mayo             93.12        89.77     111.25  ...     131.29  119.67   88.93
2020-Junio            97.10        97.06     111.06  ...     133.30  126.00   97.86
2020-Julio            92.98        96.18     117.42  ...     128.19  135.77  102.17
2020-Agosto           93.37       102.54     120.25  ...     125.17  135.53  102.71
2020-Septiembre       98.09       106.33     121.45  ...     126.60  137.11  103.22
2020-Octubre         102.16       106.51     125.72  ...     131.73  139.85  109.12
2020-Noviembre       105.31       111.89     128.86  ...     132.97  138.11  110.91
2020-Diciembre       111.10       122.37     136.24  ...     132.42  139.29  110.69
2021-Enero            97.66       109.23     129.22  ...     129.49  132.04  105.38
2021-Febrero         100.13       108.80     128.60  ...     126.69  134.76  102.64
2021-Marzo           107.83       114.97     133.51  ...     146.29  143.96  111.47
2021-Abril           102.60       110.77     129.97  ...     144.91  139.04  107.93
2021-Mayo            105.71       114.46     129.29  ...     150.15  136.92  111.96
2021-Junio           106.07       114.60     126.28  ...     148.94  137.21  111.11
2021-Julio           108.35       110.66     131.11  ...     143.04  142.70  109.86
2021-Agosto          105.98       113.32     130.29  ...     141.03  141.03  107.14
2021-Septiembre      109.30       114.29     129.08  ...     140.99  138.05  104.18
2021-Octubre         111.45       110.98     131.27  ...     140.55  137.78  108.39
2021-Noviembre       116.41          NaN        NaN  ...        NaN     NaN     NaN

[59 rows x 10 columns]

In [18]:
## link excel
#https://www.inegi.org.mx/contenidos/temas/economia/cn/igae/tabulados/ori/IGAE_1.xlsx       indice

#https://www.inegi.org.mx/contenidos/temas/economia/cn/igae/tabulados/ori/IGAE_2.xlsx       crecimiento

### **Perú**

#### Publicaciones disponibles a fecha:
 
2. 21 Oct
3. 18 Nov
4.

In [61]:
url = 'https://www.inei.gob.pe/media/principales_indicadores/CalculoPBI_100.zip' #cambio de 99 a 100 (sep oct)

In [62]:
zip, _ = urllib2.urlretrieve(url)
with zipfile.ZipFile(zip, "r") as f:
    f.extractall('/content')

In [63]:
indicador = [f.namelist()[i] for i in range(len(f.namelist())) if 'Indicador Mensual' in f.namelist()[i]][0] # el 0 es para que elija el string de la lista
df = pd.read_excel(indicador,sheet_name=1,header=3)[1:] # el indice esta en la segunda hoja del excel

In [64]:
indicador

'Indicador Mensual de la Producción Nacional 10 2021 r.xlsx'

In [65]:
pe = round(df.filter(like='Índice Global'),2)   # regex='spike|spke' se puede usar regex para en caso de que escriban las columnas mal
pe['YM'] = df['Año y Mes'].astype(int).astype(str)

#  IG.1 Mensual   IG.2 Acumulado  IG.3 Anual
pe['fecha'] =  pe['YM'].str[0:4] +'-'+ pe['YM'].str[4:7].astype(int).map(meses_dict)  # fecha
pe.set_index('fecha',inplace=True)

pe.rename(columns={pe.columns[0]:'Perú',pe.columns[1]:'Perú_i',pe.columns[2]:'Perú_a'},inplace=True)

In [66]:
imaela = imaela.merge(pe['Perú'],how='left',left_index=True,right_index=True)

### **Chile**

#### Publicaciones disponibles las fechas:
 
2. 1 Oct  - Agosto
3. 2 Nov  - Septiembre
4. 1 Dic - Noviembre

In [25]:
url = "https://si3.bcentral.cl/estadisticas/Principal1/excel/CCNN/IMACEC/Excel/IMACEC.xlsx"
urllib2.urlretrieve(url, "chile.xlsx")
df = pd.read_excel('chile.xlsx',header=5,keep_default_na=False)

In [26]:
chile = df.loc[1:,[df.columns[0],df.columns[1],'Imacec']][:-10] # excluimos las ultimas 10 filas (pie de pagina)
chile.rename(columns = {'Imacec':'Chile'}, inplace = True) # renombramos
chile['Chile1'] = pd.to_numeric(chile.Chile).pct_change(12)*100
###
chile[chile.columns[0]] = pd.to_numeric(chile[chile.columns[0]], errors='coerce').ffill().bfill().astype(int)
 # las columnas del excel contienen string en blanco por lo que se transformaron a numero antes de hacer el forward fill
 # el backward fill es para asegurar que no quede NaN por detras y dificulte la creacion del indice
###

chile['mes'] = chile[chile.columns[1]].map(mes3).bfill() # creando mes y usando el bfill por el mismo motivo explicado arriba

#Creamos el indice
chile.index = chile[chile.columns[0]].astype('str') +"-"+ chile.mes

chile.tail(1)

                     Unnamed: 1    Chile     Chile1        mes
2021-Noviembre  2021        nov  130.944  14.265823  Noviembre

In [27]:
 pd.to_numeric(chile[chile.columns[0]], errors='coerce')

2013-Enero         2013
2014-Enero         2014
2015-Enero         2015
2016-Enero         2016
2017-Enero         2017
                   ...
2021-Julio         2021
2021-Agosto        2021
2021-Septiembre    2021
2021-Octubre       2021
2021-Noviembre     2021
Name:  , Length: 116, dtype: int64

In [28]:
imaelatam = round(imaela.merge(chile['Chile'],how='left',left_index=True,right_index=True),2)
imaelatam = imaelatam[~imaelatam.index.duplicated(keep='last')].reindex(imaela.index) # hay duplicados, los eliminamos y reindexamos

In [29]:
#  imaelatam

### **Ecuador**

#### Publicaciones disponibles las fechas: 
1. 14 sept    -    Julio
2. 13 Oct    -     Agosto
3. 15 Nov    -     Sep
4. 24 Dic    -     Oct

In [30]:
url = "https://contenido.bce.fin.ec/documentos/PublicacionesNotas/Catalogo/IEMensual/Adelantos/IEM-452-e.xlsx"
urllib2.urlretrieve(url, "Ecuador.xlsx")
df = pd.read_excel('Ecuador.xlsx',header=7,keep_default_na=False)[1:13].reset_index()

ecu = (df.set_index(['Unnamed: 0','index'])
.stack()
.reset_index()
.rename(columns={'Unnamed: 0':'mes','level_2':'Year'})).sort_values(['Year','index']) # ingenieria de base de datos

# Elaboracion de indice
ecu['Mes'] = ecu.mes.str.lower().map(mes3)
ecu.insert(3, 'fecha', ecu.Year.astype(str) + '-' + ecu.Mes)
ecu.index = ecu.fecha

# Variacion interanual
ecu.rename(columns={0:'Ecuador'},inplace=True)
ecu['Ecuador1'] = pd.to_numeric(ecu['Ecuador'],errors='coerce').pct_change(12)*100

ecu.Ecuador.tail()

fecha
2021-Agosto        168.508
2021-Septiembre    173.214
2021-Octubre       176.086
2021-Noviembre
2021-Diciembre
Name: Ecuador, dtype: object

In [31]:
imaela = round(pd.merge(imaelatam,ecu['Ecuador'],how='left',left_index=True,right_index=True),2)

In [32]:
#   imaela

df = np.array(tb.read_pdf('ecuador.pdf',pages = '5',stream=True,multiple_tables=True,pandas_options={'header':None}))
dff = pd.DataFrame(df.reshape(-1,5)) # en 2022 el reshape debe ser (-1,6)

dff[dff.iloc[3,2].split(' ')] = dff[2].str.split(' ',expand=True)
if dff.iloc[3,3] in range(2020,2040,1):
  dff[int(dff.iloc[3,3])] = dff[3]
  dff[int(dff.iloc[3,4])] = dff[4]
else:
  dff[int(dff.iloc[3,4])] = dff[4]

if dff.iloc[18,0] in ['Ene']:
    ecu = dff.iloc[18:30,[0,-3,-2,-1]].reset_index(drop=True)
else:
    ecu = dff.iloc[19:31,[0,-3,-2,-1]].reset_index(drop=True)
 
ecu['interanualAnterior'] = ecu.iloc[:,-2].astype(float)/ecu.iloc[:,-3].astype(float)*100-100
ecu['Ecuador'] = ecu.iloc[:,-2].astype(float)/ecu.iloc[:,-3].astype(float)*100-100

listames = [meses[1:][i][1] for i in range(len(meses[1:]))]
ecu['mes'] = listames

ecu.index = str(ecu.columns[-4]) + '-' + ecu.mes
ecu.dropna().tail(1)

### **Bolivia**

#### Publicaciones disponibles las fechas:
 
2. 
3. 
4.

In [33]:
urlbol = 'https://www.ine.gob.bo/index.php/estadisticas-economicas/indice-global-de-actividad-economica-igae/#1584545313102-06cf787f-a790'
header= {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) ' 
      'AppleWebKit/537.11 (KHTML, like Gecko) '
      'Chrome/23.0.1271.64 Safari/537.11',
      'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
      'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
      'Accept-Encoding': 'none',
      'Accept-Language': 'en-US,en;q=0.8',
      'Connection': 'keep-alive'}
req = urllib2.Request(url=urlbol, headers=header) 
page = urllib2.urlopen(req).read()

In [34]:
soupbol = BeautifulSoup(page,'lxml')
links = [a['href'] for a in soupbol.select("a[href*=nube.ine.gob.bo/index.php]")] # extraemos links que contengan nube.ine.gob
 # ultimos link disponibles
links # IGAE por actividad economica es el segundo

['https://nube.ine.gob.bo/index.php/s/lhzNu4ISQEuXS1M/download',
 'https://nube.ine.gob.bo/index.php/s/6Szm6RmYSBeRnsD/download',
 'https://nube.ine.gob.bo/index.php/s/qNQexpgoZroGCYG/download',
 'https://nube.ine.gob.bo/index.php/s/vsfGqiIoEXGddwJ/download',
 'https://nube.ine.gob.bo/index.php/s/k0bRzzNhBXb7Ae2/download']

In [35]:
urllib2.urlretrieve(links[1], "Bolivia.xlsx")
#https://nube.ine.gob.bo/index.php/s/6Szm6RmYSBeRnsD/download

('Bolivia.xlsx', <http.client.HTTPMessage at 0x7fa939175f90>)

In [36]:
df = pd.read_excel('Bolivia.xlsx',header=9)
df.head(2)

  ACTIVIDAD ECONÓMICA     2008        0  ... Unnamed: 162 Unnamed: 163 Unnamed: 164
0                   0      Ene      Feb  ...          Jun          Jul          Ago
1      INDICE GENERAL  173.165  167.186  ...      298.984      299.651      300.252

[2 rows x 165 columns]

In [37]:
df.set_index(df.iloc[:,0],inplace=True)
df = df.iloc[:,1:] # eliminar primera columna y ultimas 3 filas
df = df.T.reset_index()

In [38]:
df

ACTIVIDAD ECONÓMICA         index  ... (1): Incluye las actividades de Restaurantes y Hoteles asi como Servicios Comunales, Sociales, Personales y Domestico
0                            2008  ...                                                NaN
1                               0  ...                                                NaN
2                             0.1  ...                                                NaN
3                             0.2  ...                                                NaN
4                             0.3  ...                                                NaN
..                            ...  ...                                                ...
159                  Unnamed: 160  ...                                                NaN
160                  Unnamed: 161  ...                                                NaN
161                  Unnamed: 162  ...                                                NaN
162                  Unnamed: 163  ...                                                NaN
163                  Unnamed: 164  ...                                                NaN

[164 rows x 25 columns]

In [39]:
# PARA EXTRAER AÑO DE COLUMNA INDEX
df['index'] = df['index'].astype(str).str.replace('\(p\)','')
df['index'] = df['index'].str.replace('^0.[0-9]','nan')      # reemplaza los numeros decimales regex que empiece por 0. y le siga cualquier num
df['index'] = df['index'].str.replace('^0$','nan')    # reemplaza toda fila con 0 como unico digito
df['index'] = pd.to_numeric(df['index'],errors='coerce').ffill().astype(int)

In [40]:
df['fecha'] = df['index'].astype(str) +'-'+ df[0].str.lower().map(mes3) # columna fecha
df.set_index('fecha',inplace=True)
df.rename(columns={df.columns[2]:'Bolivia'},inplace=True)

In [41]:
imaela = imaela.merge(df['Bolivia'],how='left',left_index=True,right_index=True)

In [42]:
imaela

                 Costa Rica  El Salvador  Guatemala  ...    Chile  Ecuador  Bolivia
2017-Enero            96.71       101.46     115.40  ...  102.675  162.432  268.332
2017-Febrero          96.95        99.03     114.27  ...  97.8526  141.786  253.884
2017-Marzo           100.86       108.51     118.04  ...  111.077  157.139  290.711
2017-Abril            94.83       101.47     114.66  ...  105.939  150.921  305.315
2017-Mayo             99.06       110.90     113.72  ...  108.646  157.813  299.148
2017-Junio            99.90       113.67     111.56  ...  105.675  153.307  298.554
2017-Julio            96.27       105.54     113.75  ...  101.973  157.516  293.954
2017-Agosto           96.64       107.88     113.89  ...  106.709  153.826  298.128
2017-Septiembre       98.99       106.18     112.05  ...  103.014   154.52  320.968
2017-Octubre         103.97       103.21     113.72  ...  109.526  154.707  327.515
2017-Noviembre       107.71       110.29     117.05  ...  114.914  158.009  315.059
2017-Diciembre       108.11       117.41     122.69  ...  117.763  173.978  321.181
2018-Enero            99.21       105.05     117.63  ...   106.85  161.613  283.483
2018-Febrero          99.00       102.42     117.43  ...  102.471  146.531  266.503
2018-Marzo           103.54       108.34     121.55  ...  116.201  159.896  303.003
2018-Abril            99.60       107.98     119.58  ...  112.676  159.509  318.341
2018-Mayo            104.56       112.54     118.84  ...   113.28  163.222  311.481
2018-Junio           103.46       113.60     116.18  ...  110.066  159.989  316.978
2018-Julio           101.47       108.77     118.10  ...  105.139  161.364  303.283
2018-Agosto          101.12       111.88     117.70  ...  109.269  165.227  313.251
2018-Septiembre      101.69       107.50     115.10  ...  104.761  155.597  332.875
2018-Octubre         106.13       105.81     117.84  ...  113.444  170.739  340.116
2018-Noviembre       108.90       112.22     121.20  ...  118.143  162.899    324.8
2018-Diciembre       107.95       120.20     125.53  ...  121.216  182.962  330.364
2019-Enero           101.52       108.11     121.90  ...  108.578  161.595  293.122
2019-Febrero         102.02       105.81     122.35  ...  102.987  153.172  275.729
2019-Marzo           105.92       113.13     125.80  ...  117.585  158.183  310.469
2019-Abril           100.03       109.87     123.92  ...  114.269  155.292  325.198
2019-Mayo            103.93       115.03     123.78  ...  115.478  161.097  319.066
2019-Junio           103.70       115.27     120.08  ...  111.232  156.816  327.553
2019-Julio           102.63       111.58     122.47  ...  108.282  161.538  312.055
2019-Agosto          101.63       113.64     121.56  ...  113.431  164.993  318.072
2019-Septiembre      103.85       112.01     120.36  ...   108.32  160.034  340.411
2019-Octubre         109.34       109.15     122.39  ...   109.48  155.861  347.506
2019-Noviembre       112.08       117.20     126.79  ...  113.486  160.471  315.463
2019-Diciembre       111.44       123.83     130.44  ...  122.951  172.446  342.838
2020-Enero           104.14       110.92     127.40  ...  109.984  166.081  304.943
2020-Febrero         105.17       109.93     125.54  ...  106.315  151.878  277.363
2020-Marzo           103.56       105.58     121.36  ...  113.427  142.951  297.958
2020-Abril            90.93        88.31     112.77  ...  98.4788  101.926  234.039
2020-Mayo             93.12        89.77     111.25  ...   97.793  117.005  231.828
2020-Junio            97.10        97.06     111.06  ...  96.1215  132.598  266.589
2020-Julio            92.98        96.18     117.42  ...  96.1001  141.261  268.308
2020-Agosto           93.37       102.54     120.25  ...  101.066  143.837  274.025
2020-Septiembre       98.09       106.33     121.45  ...  103.167  152.052  311.836
2020-Octubre         102.16       106.51     125.72  ...  108.477  156.349  346.259
2020-Noviembre       105.31       111.89     128.86  ...  114.596   152.31  336.104
2020-Diciembre       111.10       122.37     136.24  ...  122.862  171.892  340.282
2021-Enero            97.66       109.23     129.22  ...  106.849  151.916  291.354
2021-Febrero         100.13       108.80     128.60  ...  104.313   144.54  266.681
2021-Marzo           107.83       114.97     133.51  ...  120.567  162.381   312.66
2021-Abril           102.60       110.77     129.97  ...  112.958  159.056  303.708
2021-Mayo            105.71       114.46     129.29  ...  116.504  150.912  290.251
2021-Junio           106.07       114.60     126.28  ...  115.919  153.752  298.984
2021-Julio           108.35       110.66     131.11  ...  113.443  168.483  299.651
2021-Agosto          105.98       113.32     130.29  ...  120.219  168.508  300.252
2021-Septiembre      109.30       114.29     129.08  ...  118.388  173.214      NaN
2021-Octubre         111.45       110.98     131.27  ...  124.696  176.086      NaN
2021-Noviembre       116.41          NaN        NaN  ...  130.944               NaN

[59 rows x 14 columns]

## **El Salvador**

#### Publicaciones disponibles las fechas:
 
3. >   30 Nov
4. >   23 Dic
5. >   31 Ene

In [43]:
from selenium import webdriver
pagina = 'https://www.bcr.gob.sv/bcrsite/?cdr=174&lang=es'

In [44]:
##### **Otra forma de selenium**
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',options=chrome_options)
wd.get(pagina)

In [45]:
 #BC El Salvador
#wd.get(pagina)

# Clicks pertinentes para llegar a la tabla con indices imae SV
wd.find_element(By.CLASS_NAME,'linkBtnNaranja').click() # ejecutar consulta

In [46]:
# PARA EXTRAER LOS VALORES DE LOS INDICES

tr = wd.find_element(By.ID,'tbl_setValores')
data = tr.find_element(By.TAG_NAME,'tr')
indices_salvador = pd.to_numeric(data.text.split(' ')) 


# PARA EXTRAER LAS FECHAS PARA EL MERGE
soupsv = BeautifulSoup(wd.page_source,'html.parser')
soupsv
anios_sv = soupsv.find_all('td', style='text-align:center')
mes_sv = soupsv.find_all('center')

fecha1 = [anios_sv[i].text for i in range(len(anios_sv))] # lista con años 
fecha2 = [mes_sv[i].text.replace(' ','')[:3] for i in range(1,len(mes_sv))] # lista con meses en formato mmm

fecha=[]
for i in fecha1:
  for j in range(1,13):
    fecha.append(i + "-" + meses_dict[j])

In [47]:
# CREAR DF
elsv = pd.DataFrame(index = fecha,columns=['sv'])
for i in range(len(indices_salvador)):
  elsv.sv[i] = indices_salvador[i]

imaela['El Salvador'] = elsv.loc[imaela.index] # reemplazar valor en la tabla imaela

elsv.loc[imaela.index][-3:]

                     sv
2021-Septiembre  114.29
2021-Octubre     110.98
2021-Noviembre      NaN

### **Paraguay**

In [48]:
url = 'https://www.bcp.gov.py/indicador-mensual-de-actividad-economica-del-paraguay-imaep-i471'
urlpy = 'https://www.bcp.gov.py/anexo-estadistico-del-informe-economico-i365'
#the URL where you are requesting at
req = urllib2.Request(url=urlpy, headers=header) 
page = urllib2.urlopen(req).read()

In [49]:
souppy = BeautifulSoup(page,'lxml')
links = [a['href'] for a in souppy.select("a[href*=.xlsx]")] # extraemos links que contengan 2021 
 # ultimos link disponibles
links

['userfiles/files/Anexo_Estad%C3%ADstico%20del%20Informe%20Econ%C3%B3mico_12-01_2022.xlsx']

In [50]:
url2py = 'https://www.bcp.gov.py/' + links[0]
req2 = requests.get(url2py, headers = header)  # nueva forma de descargar excel file de pagina de py

In [51]:
import datetime
dfpy = pd.read_excel(req2.content,sheet_name='CUADRO 9',header=9).iloc[:-3,1:] # con limpieza iloc CUADRO 9 es IMAEP
dfpy.rename(columns={dfpy.columns[1]:"Paraguay"},inplace=True)

In [52]:
# FECHA COLUMNA
dfpy['A'] = pd.DatetimeIndex(dfpy[dfpy.columns[0]]).year
dfpy['M'] = pd.DatetimeIndex(dfpy[dfpy.columns[0]]).month.map(meses_dict)
dfpy['fecha'] = dfpy.A.astype(str) + "-" + dfpy.M.astype(str)
dfpy.set_index('fecha',inplace=True)

In [53]:
imaela = imaela.merge(dfpy['Paraguay'],how='left',left_index=True,right_index=True)

In [54]:
imaela

                 Costa Rica El Salvador  ...  Bolivia    Paraguay
2017-Enero            96.71      101.46  ...  268.332  106.924102
2017-Febrero          96.95       99.03  ...  253.884  109.528651
2017-Marzo           100.86      108.51  ...  290.711  119.931815
2017-Abril            94.83      101.47  ...  305.315  105.779612
2017-Mayo             99.06       110.9  ...  299.148  108.540354
2017-Junio            99.90      113.67  ...  298.554  105.009130
2017-Julio            96.27      105.54  ...  293.954  105.272717
2017-Agosto           96.64      107.88  ...  298.128  107.165128
2017-Septiembre       98.99      106.18  ...  320.968  108.662088
2017-Octubre         103.97      103.21  ...  327.515  114.776307
2017-Noviembre       107.71      110.29  ...  315.059  115.849140
2017-Diciembre       108.11      117.41  ...  321.181  126.173820
2018-Enero            99.21      105.05  ...  283.483  114.138104
2018-Febrero          99.00      102.42  ...  266.503  117.060188
2018-Marzo           103.54      108.34  ...  303.003  123.779771
2018-Abril            99.60      107.98  ...  318.341  119.487514
2018-Mayo            104.56      112.54  ...  311.481  115.305203
2018-Junio           103.46       113.6  ...  316.978  106.852593
2018-Julio           101.47      108.77  ...  303.283  110.058103
2018-Agosto          101.12      111.88  ...  313.251  109.168817
2018-Septiembre      101.69       107.5  ...  332.875  107.205366
2018-Octubre         106.13      105.81  ...  340.116  116.874488
2018-Noviembre       108.90      112.22  ...    324.8  116.308586
2018-Diciembre       107.95       120.2  ...  330.364  126.061413
2019-Enero           101.52      108.11  ...  293.122  113.291830
2019-Febrero         102.02      105.81  ...  275.729  113.704594
2019-Marzo           105.92      113.13  ...  310.469  117.858729
2019-Abril           100.03      109.87  ...  325.198  113.096828
2019-Mayo            103.93      115.03  ...  319.066  112.317368
2019-Junio           103.70      115.27  ...  327.553  105.228983
2019-Julio           102.63      111.58  ...  312.055  111.117146
2019-Agosto          101.63      113.64  ...  318.072  110.677692
2019-Septiembre      103.85      112.01  ...  340.411  114.610031
2019-Octubre         109.34      109.15  ...  347.506  123.133512
2019-Noviembre       112.08       117.2  ...  315.463  118.919714
2019-Diciembre       111.44      123.83  ...  342.838  131.489783
2020-Enero           104.14      110.92  ...  304.943  118.978597
2020-Febrero         105.17      109.93  ...  277.363  122.558164
2020-Marzo           103.56      105.58  ...  297.958  119.014428
2020-Abril            90.93       88.31  ...  234.039   97.781980
2020-Mayo             93.12       89.77  ...  231.828  104.977220
2020-Junio            97.10       97.06  ...  266.589  107.681770
2020-Julio            92.98       96.18  ...  268.308  111.676119
2020-Agosto           93.37      102.54  ...  274.025  108.450742
2020-Septiembre       98.09      106.33  ...  311.836  112.660274
2020-Octubre         102.16      106.51  ...  346.259  123.210310
2020-Noviembre       105.31      111.89  ...  336.104  120.133805
2020-Diciembre       111.10      122.37  ...  340.282  134.068990
2021-Enero            97.66      109.23  ...  291.354  112.106721
2021-Febrero         100.13       108.8  ...  266.681  121.896877
2021-Marzo           107.83      114.97  ...   312.66  129.029260
2021-Abril           102.60      110.77  ...  303.708  117.541290
2021-Mayo            105.71      114.46  ...  290.251  118.226522
2021-Junio           106.07       114.6  ...  298.984  115.276331
2021-Julio           108.35      110.66  ...  299.651  115.227645
2021-Agosto          105.98      113.32  ...  300.252  112.845240
2021-Septiembre      109.30      114.29  ...      NaN  117.290810
2021-Octubre         111.45      110.98  ...      NaN  123.199502
2021-Noviembre       116.41         NaN  ...      NaN  123.862267

[59 rows x 15 columns]


url2 = 'https://www.bcp.gov.py/' + links[0] # -(numero mes)
opener = urllib2.build_opener()
opener.addheaders = [('User-agent', 'Mozilla/5.0')]
urllib2.install_opener(opener)
urllib2.urlretrieve(url2, "py.pdf")

'With pdf file

with fitz.open("py.pdf") as doc:
    text = ""
    for page in doc:
        text += page.get_text()

fechapy = text.split(' |',2)[1] # con el espacio
fechapy = fechapy.split(' ')[1] +'-'+fechapy.split(' ')[0]

Debido a que las tasas son iguales en Enero

if 'Enero' not in fechapy:
  valorpyinteranual = re.findall(r'[0-9]+,[0-9]+',text)[0] # para obtener tasa interanual          el regex sirve para buscar los registros numericos separados por coma
  valorpyacum = re.findall(r'[0-9]+,[0-9]+',text)[1] # para obtener tasa acumulada interanual
  valorpyinteranual = float(valorpyinteranual.replace(',','.'))
  valorpyacum = float(valorpyacum.replace(',','.'))
else:
   valorpyinteranual = re.findall(r'[0-9]+,[0-9]+',text)[0]
   valorpyinteranual = float(valorpyinteranual.replace(',','.'))
   valorpyacum = valorpyinteranual

print(fechapy)
print(valorpyinteranual,' Tasa interanual')
print(valorpyacum, ' Tasa acumulada interanual')


py = pd.DataFrame({'Fecha':['2021-Enero','2021-Febrero','2021-Marzo','2021-Abril','2021-Mayo','2021-Junio','2021-Julio','2021-Agosto','2021-Septiembre','2021-Octubre','2021-Noviembre','2021-Diciembre'],
                   'Paraguay_a':[-5.6,-3.0,0.7,4.7,6.3,6.3,6.0,5.7,0,0,0,0],
                   'Paraguay_i':[-5.6,-0.5,8.0,19.3,12.4,6.6,3.0,4.2,0,0,0,0]})
py.index = py.Fecha
dic = {'Fecha':fechapy,'Paraguay_a':valorpyacum,'Paraguay_i':valorpyinteranual}
py.loc[fechapy] = [fechapy,valorpyacum,valorpyinteranual]
py

In [55]:
imaela['a'] = [imaela.index.str.split('-')[i][0] for i in range(len(imaela.index))]
imaela = imaela.apply(pd.to_numeric)

In [56]:
# Crecimiento interanual
imaela1 = imaela.pct_change(12,fill_method=None)*100
imaela1.dropna(how='all',inplace=True) # NAs drop
imaela1.drop('a',axis=1,inplace=True)

In [57]:
# Crecimiento acumulado interanual
imaela2 = imaela.groupby('a').cumsum().pct_change(12,fill_method=None)*100
imaela2.dropna(how='all',inplace=True) # NAs drop

In [58]:
#!pip install selenium
#!apt-get update # to update ubuntu to correctly run apt install
#!apt install chromium-chromedriver
#!cp /usr/lib/chromium-browser/chromedriver /usr/bin
#import sys
#sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
#from selenium import webdriver
#chrome_options = webdriver.ChromeOptions()
#chrome_options.add_argument('--headless')
#chrome_options.add_argument('--no-sandbox')
#chrome_options.add_argument('--disable-dev-shm-usage')
#wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

### **Colombia**

#### Publicaciones disponibles las fechas: 
1. 17 sept    -    Julio
2. 19 Oct    -     Agosto
3. 16 Nov    -     Sep
4. 17 Dic    -     Oct

In [ ]:
wd.get(url1)

In [ ]:
wd.page_source

'<html><head><title>403 Forbidden</title></head>\n<body>\n<center><h1>403 Forbidden</h1></center>\n\n\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n</body></html>'

In [ ]:
!pip install fake_useragent
from fake_useragent import UserAgent
ua = UserAgent()
print(ua.chrome)
print(ua.random)

In [ ]:
url = 'https://www.dane.gov.co/index.php/estadisticas-por-tema/cuentas-nacionales/indicador-de-seguimiento-a-la-economia-ise/historicos-ise-comunicados-y-boletines'
url1 = 'https://www.dane.gov.co/index.php/estadisticas-por-tema/cuentas-nacionales/indicador-de-seguimiento-a-la-economia-ise'

header_col = {'authority': 'www.dane.gov.co', 'method': 'GET', 'path': '/index.php/estadisticas-por-tema/cuentas-nacionales/indicador-de-seguimiento-a-la-economia-ise',
'scheme': 'https', 'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
'referer':'https://www.dane.gov.co/index.php/estadisticas-por-tema/cuentas-nacionales/indicador-de-seguimiento-a-la-economia-ise',
'accept-encoding': 'gzip, deflate, br',
'accept-language': 'es-ES,es;q=0.9',
'cache-control': 'max-age=0',
'cookie': '_ga=GA1.3.1467282597.1625839173; _ga_T3L41X6043=GS1.1.1632235276.4.0.1632235284.0; ec1d9c9ecb5c2f4ef7998e3e52b19fdf=bvqfvrh7p0e0kgp1vf8bg29s68; _gid=GA1.3.2105323501.1637672614',
'sec-ch-ua': '"Google Chrome";v="95", "Chromium";v="95", ";Not A Brand";v="99"',
'sec-ch-ua-mobile': '?0',
'sec-ch-ua-platform': "Windows",
'sec-fetch-dest': 'document',
'sec-fetch-mode': 'navigate',
'sec-fetch-site': 'none',
'sec-fetch-user': '?1',
'upgrade-insecure-requests':' 1',
'user-agent': str(ua.random)}

req = urllib2.Request(url=url1, headers=hd) 
page = urllib2.urlopen(req).read()

In [ ]:
soupco = BeautifulSoup(page,'lxml')
links = [a['href'] for a in soupco.select("a[href*=21.xlsx]")] # extraemos links que contengan 21.xlsx 
 # ultimos link disponibles
links

In [ ]:
url2 = 'https://www.dane.gov.co' + links[0] # si esta el nuevo mes restarle 1 al indice de links
url3 = 'https://www.dane.gov.co/files/investigaciones/boletines/pib/Anex_ISE_9actividades_sep_21.xlsx'
#urllib2.urlretrieve(url2, "colombia.xlsx")
urllib2.urlretrieve(url3, "colombia.xlsx",)
df = pd.read_excel('colombia.xlsx',sheet_name='Cuadro 1',header=9)[0:16].T
df.columns = df.iloc[0]
df = df.iloc[:,[0,1,-1]].reset_index(drop=True)[1:]
df.tail(1)

In [ ]:
df['ano'] = df.Concepto.ffill().astype(str).str.replace('pr','').str.replace('p','')
df['Colombia'] = round(pd.to_numeric(df.loc[:,df.columns[-2]]),2)
df.index = df.ano.astype(str) + '-' + df.iloc[:,1].astype(str)

In [ ]:
imaela = imaela.merge(df['Colombia'],how='left',left_index=True,right_index=True)

##### PDF

df = np.array(tb.read_pdf('colombia.pdf',pages = '17',stream=True,multiple_tables=True,pandas_options={'header':None}))
dco = pd.DataFrame(df.reshape(-1,4))
dco = dco.loc[:,0:2]
dco.tail(1)

dco[3] = dco[2].str.split(' ',expand=True)[0] # Tomando las tasas de crecimiento de la tabla pdf
dco.rename(columns={1:'Colombia'},inplace=True)
dco['Colombia1'] = pd.to_numeric(dco[3].str.replace(',','.'),errors='coerce')  #Convirtiendo la data a numero
dco['Colombia'] = pd.to_numeric(dco['Colombia'].str.replace(',','.'),errors='coerce')

split = dco[0].str.split(' - ')     # extraer mes 
fech = []
for i in range(len(split)):
  if type(split[i]) == float:
    fech.append('0')
  elif len(split[i]) == 1 :
    fech.append(str(split[i][0]))
  else:
    fech.append(str(split[i][1].capitalize()))

anof=[]                          # extraer año
for i in range(len(split)):
  if type(split[i]) == float:
    anof.append('0')
  elif len(split[i]) > 1 :
    anof.append(str(split[i][0]))
  else:
    anof.append(np.nan)

dco['mes'] = fech
dco['ano'] = anof
dco['ano'] = dco.ano.replace(['p','r',' '],['','',''],regex=True).ffill()
dco.index = dco['ano'] + '-' + dco['mes'] # creamos indice

## imae

In [59]:
# imaela.drop('a',axis=1,inplace=True)
imaela.drop('a',axis=1,inplace=True)

In [60]:
imaela.tail(2)

                Costa Rica  El Salvador  ...  Bolivia    Paraguay
2021-Octubre        111.45       110.98  ...      NaN  123.199502
2021-Noviembre      116.41          NaN  ...      NaN  123.862267

[2 rows x 15 columns]

In [ ]:
#@title Descarga a Excel
writer = pd.ExcelWriter('imae_latam.xlsx', engine='xlsxwriter')

imaela1.to_excel(writer, sheet_name='Interanual')
imaela2.to_excel(writer, sheet_name='Acumulado')
imaela.to_excel(writer, sheet_name='Indices - Serie Original')
writer.save()

files.download("imae_latam.xlsx")

In [ ]:
#@title Bar
f, ax = plt.subplots(figsize=(20, 8))
sns.barplot(data=imaela.iloc[-1:,:]);

In [ ]:
#@title Interanual Mes Anterior
f, ax = plt.subplots(figsize=(18, 8))
df = pd.melt(imaela1.iloc[-2:-1,:]).sort_values('value',ascending=False) 
sns.barplot(data = df ,x='value',y='variable',
                palette=['r' if y =='República Dominicana' else '#0343DF' for y in df.variable])
for p in ax.patches:
    width = p.get_width()    # get bar length
    ax.text(width+0.2,       # set the text at 0.2 unit right of the bar
            p.get_y() + p.get_height() / 2, # get Y coordinate + X coordinate / 2
            '{:1.2f}'.format(width), # set variable to display, 2 decimals
            ha = 'left',   # horizontal alignment
            va = 'center', weight="bold") # vertical alignment
plt.title('IMAE LATAM \n Crecimiento Interanual (%) {}'.format(imaela.index[-2]),weight='bold');

In [ ]:
#@title Acumulado Interanual Mes Anterior
f, ax = plt.subplots(figsize=(18, 8))
df = pd.melt(imaela2.iloc[-2:-1,:]).sort_values('value',ascending=False) 
sns.barplot(data = df ,x='value',y='variable',
                palette=['r' if y =='República Dominicana' else '#0343DF' for y in df.variable])
for p in ax.patches:
    width = p.get_width()    # get bar length
    ax.text(width+0.2,       # set the text at 0.2 unit right of the bar
            p.get_y() + p.get_height() / 2, # get Y coordinate + X coordinate / 2
            '{:1.2f}'.format(width), # set variable to display, 2 decimals
            ha = 'left',   # horizontal alignment
            va = 'center', weight="bold") # vertical alignment
plt.title('IMAE LATAM \n Crecimiento Acumulado Interanual (%) a {}'.format(imaela.index[-2]) ,weight='bold');

In [ ]:
#@title Interanual Ultimo Mes
f, ax = plt.subplots(figsize=(18, 8))
df = pd.melt(imaela1.iloc[-1:,:].dropna(axis=1)).sort_values('value',ascending=False) 
sns.barplot(data = df ,x='value',y='variable',
                palette=['r' if y =='República Dominicana' else '#0343DF' for y in df.variable])
for p in ax.patches:
    width = p.get_width()    # get bar length
    ax.text(width+0.2,       # set the text at 0.2 unit right of the bar
            p.get_y() + p.get_height() / 2, # get Y coordinate + X coordinate / 2
            '{:1.2f}'.format(width), # set variable to display, 2 decimals
            ha = 'left',   # horizontal alignment
            va = 'center', weight="bold") # vertical alignment
plt.title('IMAE LATAM \n Crecimiento Interanual (%) {}'.format(imaela.index[-1]),weight='bold')
;

In [ ]:
#@title Acumulado Interanual Ultimo Mes
f, ax = plt.subplots(figsize=(18, 8))
df = pd.melt(imaela2.iloc[-1:,:].dropna(axis=1)).sort_values('value',ascending=False) 
sns.barplot(data = df ,x='value',y='variable',
                palette=['r' if y =='República Dominicana' else '#0343DF' for y in df.variable])
for p in ax.patches:
    width = p.get_width()    # get bar length
    ax.text(width+0.2,       # set the text at 0.2 unit right of the bar
            p.get_y() + p.get_height() / 2, # get Y coordinate + X coordinate / 2
            '{:1.2f}'.format(width), # set variable to display, 2 decimals
            ha = 'left',   # horizontal alignment
            va = 'center', weight="bold") # vertical alignment
plt.title('IMAE LATAM \n Crecimiento Acumulado Interanual (%) a {}'.format(imaela.index[-1]) ,weight='bold');