<a href="https://colab.research.google.com/github/samyff12/LATAM/blob/main/IMAE_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Actualizacion IMAE LATAM**

### Paquetes y meses

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import urllib.request as urllib2
import re
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
!pip install XlsxWriter
from google.colab import files

# Selenium
!pip install selenium
!apt-get update 
!apt install chromium-chromedriver
#!pip install kora -q

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

#from kora.selenium import wd
# En caso de contar con archivos en formato pdf: 
# !pip install pymupdf            
# !pip install tabula-py
# import tabula as tb
# import fitz  # this is pymupdf

/usr/local/lib/python3.7/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

Requirement already satisfied: XlsxWriter in /usr/local/lib/python3.7/dist-packages (3.0.2)
Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.7/dist-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure]~=1.26->selenium) (36.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (2.21)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)
Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:6 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:8 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:12 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:13 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (95.0.4638.69-0ubuntu0.18.04.1).
0 upgraded, 0 newly installed, 0 to remove and 69 not upgraded.

In [ ]:
##html = requests.get('http://www.secmca.org/chart/?parent=Producci%C3%B3n&scid=2&cid=1&scsid=0&son=%C3%8Dndice%20Mensual%20de%20la%20Actividad%20Econ%C3%B3mica&url=11/14/3-13-50-17-4-52-161/39/265/19-258/444/' +
 #                   '20211-20212-20213-20214-20215-20216-20217-20218-20219-202110-202111-202112-20221-20222-20223-20224-20225-20226-20227-20228-20229-202210-202211-202212' +
 #                   '-&all_vars=2|IMAE,%20variaci%C3%B3n%20interanual')
#soup = BeautifulSoup(html.text,'lxml')
#table = soup.find_all('p', class_='text-right')
#tablec = soup.find_all('th', colspan='1')

#indicadores=[]
#paises =[]
#for i in range(len(table)):
 # ind = float(table[i].text)
#  pais = tablec[i].text
#  indicadores.append(ind)
 # paises.append(pais)

#imae_latam =  pd.DataFrame(indicadores,index = paises,columns = ['IMAE'])
#print(f'IMAE a {fecha}')
#imae_latam

In [3]:
meses = [0,[1,'Enero'],[2,'Febrero'],[3,'Marzo'],[4,'Abril'],[5,'Mayo'],[6,'Junio'],[7,'Julio'],[8,'Agosto'],
         [9,'Septiembre'],[10,'Octubre'],[11,'Noviembre'],[12,'Diciembre']]
mes3 = {'ene':'Enero','feb':'Febrero','mar':'Marzo','abr':'Abril','may':'Mayo','jun':'Junio','jul':'Julio',
        'ago':'Agosto','sep':'Septiembre','oct':'Octubre','nov':'Noviembre','dic':'Diciembre'}
meses_dict = {0:'none',1:'Enero',2:'Febrero',3:'Marzo',4:'Abril',5:'Mayo',6:'Junio',7:'Julio',8:'Agosto',
         9:'Septiembre',10:'Octubre',11:'Noviembre',12:'Diciembre'}
### import calendar

# d = dict((v,k) for k,v in enumerate(calendar.month_abbr))
# d

## Para obtener las series de todo el a√±o 2021-2022

### **SECMCA**

#### Publicaciones disponibles las fechas: 

#####    **El Salvador**
2. 29 Oct
3. 30 Nov
4. 23 Dic
5. 31 Ene

#####    **Panama**
3. 22 Nov
4. 21 Dic


#####    **Honduras**
-. Preliminar 20 de cada mes, con 50 d√≠as de rezago y
revisado 30 d√≠as despu√©s

In [63]:
html2 = requests.get('https://www.secmca.org/chart/?parent=Producci%C3%B3n&scid=2&cid=1&scsid=0&son=%C3%8Dndice%20Mensual%20de%20la%20Actividad%20Econ%C3%B3mica&url=11/14/3-13-50-17-4-52-161/39/265/19-258/81/20171-20172-20173-20174-20175-20176-20177-20178-20179-201710-201711-201712-20181-20182-20183-20184-20185-20186-20187-20188-20189-201810-201811-201812-20191-20192-20193-20194-20195-20196-20197-20198-20199-201910-201911-201912-' +
'20201-20202-20203-20204-20205-20206-20207-20208-20209-202010-202011-202012-20211-20212-20213-20214-20215-20216-20217-20218-20219-202110-202111-202112-&all_vars=1|IMAE').text

In [64]:
# INDICE VERSION
html1 = requests.get('http://www.secmca.org/chart/?parent=Producci%C3%B3n&scid=2&cid=1&scsid=0&son=%C3%8Dndice%20Mensual%20de%20la%20Actividad%20Econ%C3%B3mica&url=11/14/3-13-50-17-4-52-161/39/265/19-258/81/' +
  '20171-20172-20173-20174-20175-20176-20177-20178-20179-201710-201711-201712-20181-20182-20183-20184-20185-20186-20187-20188-20189-201810-201811-201812-20191-20192-20193-20194-20195-20196-20197-20198-20199-201910-201911-201912-' +
  '20201-20202-20203-20204-20205-20206-20207-20208-20209-202010-202011-202012-20211-20212-20213-20214-20215-20216-20217-20218-20219-202110-202111-202112-20221-20222-20223-20224-20225-20226-20227-20228-20229-202210-202211-202212' +
  '-&all_vars=1|IMAE').text
soup1 = BeautifulSoup(html1,'lxml')

tabpais = soup1.find_all('th', colspan='1')
table = soup1.find_all('p', class_='text-left')

In [66]:
fechas = []
for i in range(len(table)):
  x = re.sub(" ","",table[i].text)
  fechas.append(x.replace("\n","").replace('Setiembre','Septiembre'))

paises = [tabpais[i].text for i in range(len(tabpais))]
fechas[-1]

'2021-Septiembre'

In [ ]:
#INDICE
table1 = soup1.find_all('p', class_='text-right')
matriz = np.array([])
for i in table1:
  matriz = np.array(np.append(matriz,i))
matriz = np.where(matriz=="--", np.nan, matriz).astype(np.float)
matriz = matriz.reshape(-1,7) # 7 paises
imaeLA = pd.DataFrame(matriz,index=fechas,columns=paises)
imaeLA.tail()

import re
tabpais = soup.find_all('th', colspan='1')
table = soup.find_all('p', class_='text-left')
fechas = []
paises =[]
for i in range(len(table)):
  x = re.sub(" ","",table[i].text)
  fechas.append(x.replace("\n",""))
  pais = tabpais[i].text
  #indicadores.append(ind)
  paises.append(pais)
fechas[-1]

table1 = soup.find_all('p', class_='text-right')
matriz = np.array([])
for i in table1:
  matriz = np.array(np.append(matriz,i))
matriz = np.where(matriz=="--", np.nan, matriz).astype(np.float)
matriz = matriz.reshape(-1,7) # 7 paises
imaeLA = pd.DataFrame(matriz,index=fechas,columns=paises)
imaeLA

### **Argentina**

#### Publicaciones disponibles las fechas: 
1. 28 sept 
2. 21 Oct
3. 23 Nov
4. 23 Dic

In [68]:
url = "https://www.indec.gob.ar/ftp/cuadros/economia/sh_emae_mensual_base2004.xls"
urllib2.urlretrieve(url, "test.xls")
data = pd.read_excel('test.xls',header=2)[2:]
data1 = data.iloc[:,:4].dropna(subset = [data.columns[1]]) # data.columns[1] es la columna de los meses
data1.reset_index(drop=True,inplace=True)
data1[data1.columns[0]] = data1[data1.columns[0]].ffill() # forward fill # para los a√±os   data1.columns[0] es la columna de los a√±os
data1 = data1.iloc[11:,:3]

In [69]:
data1['fecha'] = data1[data1.columns[0]].astype(int).astype(str) +"-"+ data1[data1.columns[1]]
data1.set_index(data1.fecha,inplace=True)
data1.iloc[:,2].tail(1)

fecha
2021-Septiembre    141.257333
Name: √çndice Serie Original\n2004=100, dtype: float64

In [70]:
imaeLA = pd.merge(imaeLA,data1.iloc[:,2],how='left',left_index=True,right_index=True)
imaeLA.columns = [*imaeLA.columns[:-1], 'Argentina']
imaeLA.tail(1)

                 Costa Rica  El Salvador  ...  Panam√°   Argentina
2021-Septiembre      109.03       112.85  ...  317.43  141.257333

[1 rows x 8 columns]

### **Brasil**

#### Publicaciones :
1. 15 sept
2. 15 Oct
3. 16 Nov
4. 15 Dic

In [71]:
urljson = "https://api.bcb.gov.br/dados/serie/bcdata.sgs.24363/dados?formato=json"
urllib2.urlretrieve(urljson, "brasil.json")
bra = pd.read_json('brasil.json')
bra.rename(columns={'valor':'Brasil'},inplace=True)

bra['Brasil1'] = bra.Brasil.pct_change(12)*100 # calculo tasa de crecimiento
bra['date'] = pd.to_datetime(bra['data'],format='%d/%m/%Y') # transformamos a formato fecha
# Creamos indice
bra['fecha'] = pd.DatetimeIndex(bra['date']).year.astype(str) +"-"+pd.DatetimeIndex(bra['date']).month.astype(str)

nombre_mes = [meses[i][1] for i in pd.DatetimeIndex(bra['date']).month.tolist()] # obtenemos nombre del mes
bra['fecha'] = pd.DatetimeIndex(bra['date']).year.astype(str) +"-"+ nombre_mes # creamos indice
bra.set_index(bra.fecha,inplace=True) #reemplazamos indice


bra.tail(1)

                    data  Brasil   Brasil1       date         fecha
fecha
2021-Octubre  01/10/2021  137.78 -1.480157 2021-10-01  2021-Octubre

In [72]:
imaela = pd.merge(imaeLA,bra['Brasil'],how='left',left_index=True,right_index=True) # combinamos la data

In [73]:
#    imaela

### **Mexico**

#### Publicaciones disponibles las fechas: 
1. 27 sept 
2. 25 Oct
3. 25 Nov
4. 24 Dic

In [74]:
url = "https://www.inegi.org.mx/contenidos/temas/economia/cn/igae/tabulados/ori/IGAE_1.xlsx"
urllib2.urlretrieve(url, "test.xlsx")
mex = pd.read_excel('test.xlsx',header=3,nrows=3)
mex = mex.T.reset_index(drop=True) # transponemos y estandarizamos el indice
mex.drop(0,inplace=True) # borramos primera fila
mex[2] = round(mex[2].astype(float),2) # leyendo tasas de crecimiento en el formato numerico y redondeando
mex[0] = mex[0].ffill()

In [75]:
mex[1] = mex[1].replace(['oR','oP','lR','lP','eR','eP'],['o','o','l','l','e','e'], regex=True) #limpiar superindices "Revisado" "Preliminar"
mex[0] = mex[0].replace(['P','R'],['',''],regex=True) # limpiar preliminar de fecha
mex.index = mex[0].astype('str') +"-"+ mex[1] #creamos indice para base de datos
mex.columns = [*mex.columns[:-1], 'M√©xico'] # nombramos columna
mex.dropna().tail(1) # mostrar ultimo valor no nulo

                    0           1  M√©xico
2021-Septiembre  2021  Septiembre  104.18

In [76]:
imaela = round(pd.merge(imaela,mex['M√©xico'],how='left',left_index=True,right_index=True),2) # combinamos las series

In [77]:
imaela

                 Costa Rica  El Salvador  Guatemala  ...  Argentina  Brasil  M√©xico
2017-Abril            94.83       101.47     114.66  ...     151.95  133.76  106.20
2017-Agosto           96.64       107.88     113.89  ...     149.26  140.11  111.77
2017-Diciembre       108.11       117.41     122.69  ...     146.78  135.78  113.99
2017-Enero            96.71       101.46     115.40  ...     136.63  128.56  108.42
2017-Febrero          96.95        99.03     114.27  ...     132.16  129.55  105.28
2017-Julio            96.27       105.54     113.75  ...     150.31  138.36  108.96
2017-Junio            99.90       113.67     111.56  ...     161.04  134.92  112.80
2017-Marzo           100.86       108.51     118.04  ...     152.62  141.94  111.91
2017-Mayo             99.06       110.90     113.72  ...     168.39  135.95  112.30
2017-Noviembre       107.71       110.29     117.05  ...     151.93  135.11  116.18
2017-Octubre         103.97       103.21     113.72  ...     149.39  136.01  112.85
2017-Septiembre       98.99       106.18     112.05  ...     146.39  134.79  106.32
2018-Abril            99.60       107.97     119.58  ...     151.52  139.08  111.59
2018-Agosto          101.12       111.88     117.70  ...     146.77  143.39  114.33
2018-Diciembre       107.95       120.20     125.53  ...     136.25  136.29  113.12
2018-Enero            99.21       105.05     117.63  ...     142.74  132.09  111.01
2018-Febrero          99.00       102.42     117.43  ...     138.82  129.93  107.81
2018-Julio           101.47       108.77     118.10  ...     145.96  141.02  112.80
2018-Junio           103.46       113.60     116.18  ...     151.13  136.94  114.44
2018-Marzo           103.54       108.34     121.55  ...     155.86  141.58  111.19
2018-Mayo            104.56       112.53     118.84  ...     159.57  132.29  115.82
2018-Noviembre       108.90       112.22     121.20  ...     140.59  137.65  117.74
2018-Octubre         106.13       105.81     117.84  ...     142.84  139.83  115.97
2018-Septiembre      101.69       107.50     115.10  ...     137.75  135.75  108.77
2019-Abril           100.04       109.87     123.92  ...     149.90  139.58  109.86
2019-Agosto          101.63       113.64     121.56  ...     141.28  141.84  113.26
2019-Diciembre       111.39       123.83     130.44  ...     135.67  137.46  113.33
2019-Enero           101.53       108.11     121.90  ...     134.52  133.47  112.54
2019-Febrero         102.03       105.81     122.35  ...     132.28  133.80  108.87
2019-Julio           102.64       111.58     122.47  ...     146.77  143.04  113.40
2019-Junio           103.71       115.27     120.08  ...     150.85  134.99  112.87
2019-Marzo           105.93       113.13     125.80  ...     144.87  138.96  112.34
2019-Mayo            103.94       115.03     123.78  ...     164.15  139.31  115.28
2019-Noviembre       112.06       117.20     126.79  ...     137.66  138.86  116.24
2019-Octubre         109.33       109.15     122.39  ...     141.51  142.87  115.36
2019-Septiembre      103.86       112.01     120.36  ...     134.89  138.25  108.86
2020-Abril            90.88        88.31     112.77  ...     111.90  118.83   88.18
2020-Agosto           93.35       102.54     120.25  ...     125.17  135.53  102.71
2020-Diciembre       110.97       122.31     136.24  ...     132.42  139.29  110.69
2020-Enero           104.13       110.91     127.40  ...     132.28  133.86  112.32
2020-Febrero         105.17       109.93     125.54  ...     129.75  134.66  108.75
2020-Julio            92.91        96.17     117.42  ...     128.19  135.77  102.17
2020-Junio            97.03        97.05     111.06  ...     133.30  126.00   97.86
2020-Marzo           103.55       105.58     121.36  ...     129.10  136.46  109.90
2020-Mayo             93.09        89.77     111.25  ...     131.29  119.67   88.93
2020-Noviembre       105.13       111.91     128.86  ...     132.97  138.11  110.91
2020-Octubre         102.09       106.56     125.72  ...     131.73  139.85  109.12
2020-Septiembre       97.99       106.35     121.45  ...     126.60  137.11  103.22
2021-Abril           102.45       110.85     129.97  ...     144.97  139.04  107.93
2021-Agosto          105.56       112.04     130.12  ...     141.20  141.03  107.14
2021-Enero            97.54       109.03     129.22  ...     129.49  132.04  105.38
2021-Febrero          99.94       108.59     128.60  ...     126.69  134.76  102.64
2021-Julio           108.22       109.75     130.95  ...     143.19  142.70  109.86
2021-Junio           105.86       114.35     126.28  ...     148.82  137.21  111.11
2021-Marzo           107.64       114.86     133.51  ...     146.29  143.96  111.47
2021-Mayo            105.50       114.56     129.29  ...     150.20  136.92  111.96
2021-Octubre            NaN          NaN        NaN  ...        NaN  137.78     NaN
2021-Septiembre      109.03       112.85     129.06  ...     141.26  138.05  104.18

[58 rows x 10 columns]

In [78]:
## link excel
#https://www.inegi.org.mx/contenidos/temas/economia/cn/igae/tabulados/ori/IGAE_1.xlsx       indice

#https://www.inegi.org.mx/contenidos/temas/economia/cn/igae/tabulados/ori/IGAE_2.xlsx       crecimiento

### **Per√∫**

#### Publicaciones disponibles a fecha:
 
2. 21 Oct
3. 18 Nov
4.

In [79]:
url = 'https://www.inei.gob.pe/media/principales_indicadores/CalculoPBI_99.zip' #cambio de 99 a 100 (sep oct)

In [80]:
zip, _ = urllib2.urlretrieve(url)
with zipfile.ZipFile(zip, "r") as f:
    f.extractall('/content')

In [81]:
indicador = [f.namelist()[i] for i in range(len(f.namelist())) if 'Indicador Mensual' in f.namelist()[i]][0] # el 0 es para que elija el string de la lista
df = pd.read_excel(indicador,sheet_name=1,header=3)[1:] # el indice esta en la segunda hoja del excel

In [82]:
indicador

'Indicador Mensual de la Producci√≥n Nacional 09 2021 r.xlsx'

In [83]:
pe = round(df.filter(like='√çndice Global'),2)   # regex='spike|spke' se puede usar regex para en caso de que escriban las columnas mal
pe['YM'] = df['A√±o y Mes'].astype(int).astype(str)

#  IG.1 Mensual   IG.2 Acumulado  IG.3 Anual
pe['fecha'] =  pe['YM'].str[0:4] +'-'+ pe['YM'].str[4:7].astype(int).map(meses_dict)  # fecha
pe.set_index('fecha',inplace=True)

pe.rename(columns={pe.columns[0]:'Per√∫',pe.columns[1]:'Per√∫_i',pe.columns[2]:'Per√∫_a'},inplace=True)

In [84]:
imaela = imaela.merge(pe['Per√∫'],how='left',left_index=True,right_index=True)

### **Chile**

#### Publicaciones disponibles las fechas:
 
2. 1 Oct  - Agosto
3. 2 Nov  - Septiembre
4. 1 Dic - Noviembre

In [85]:
url = "https://si3.bcentral.cl/estadisticas/Principal1/excel/CCNN/IMACEC/Excel/IMACEC.xlsx"
urllib2.urlretrieve(url, "chile.xlsx")
df = pd.read_excel('chile.xlsx',header=5,keep_default_na=False)

In [86]:
chile = df.loc[1:,[df.columns[0],df.columns[1],'Imacec']][:-10] # excluimos las ultimas 10 filas (pie de pagina)
chile.rename(columns = {'Imacec':'Chile'}, inplace = True) # renombramos
chile['Chile1'] = pd.to_numeric(chile.Chile).pct_change(12)*100
###
chile[chile.columns[0]] = pd.to_numeric(chile[chile.columns[0]], errors='coerce').ffill().bfill().astype(int)
 # las columnas del excel contienen string en blanco por lo que se transformaron a numero antes de hacer el forward fill
 # el backward fill es para asegurar que no quede NaN por detras y dificulte la creacion del indice
###

chile['mes'] = chile[chile.columns[1]].map(mes3).bfill() # creando mes y usando el bfill por el mismo motivo explicado arriba

#Creamos el indice
chile.index = chile[chile.columns[0]].astype('str') +"-"+ chile.mes

chile.tail(1)

                   Unnamed: 1    Chile     Chile1      mes
2021-Octubre  2021        oct  124.696  14.951209  Octubre

In [87]:
 pd.to_numeric(chile[chile.columns[0]], errors='coerce')

2013-Enero         2013
2014-Enero         2014
2015-Enero         2015
2016-Enero         2016
2017-Enero         2017
                   ...
2021-Junio         2021
2021-Julio         2021
2021-Agosto        2021
2021-Septiembre    2021
2021-Octubre       2021
Name:  , Length: 115, dtype: int64

In [88]:
imaelatam = round(imaela.merge(chile['Chile'],how='left',left_index=True,right_index=True),2)
imaelatam = imaelatam[~imaelatam.index.duplicated(keep='last')].reindex(imaela.index) # hay duplicados, los eliminamos y reindexamos

In [89]:
#  imaelatam

### **Ecuador**

#### Publicaciones disponibles las fechas: 
1. 14 sept    -    Julio
2. 13 Oct    -     Agosto
3. 15 Nov    -     Sep
4. 24 Dic    -     Oct

In [90]:
url = "https://contenido.bce.fin.ec/documentos/PublicacionesNotas/Catalogo/IEMensual/Adelantos/IEM-452-e.xlsx"
urllib2.urlretrieve(url, "Ecuador.xlsx")
df = pd.read_excel('Ecuador.xlsx',header=7,keep_default_na=False)[1:13].reset_index()

ecu = (df.set_index(['Unnamed: 0','index'])
.stack()
.reset_index()
.rename(columns={'Unnamed: 0':'mes','level_2':'Year'})).sort_values(['Year','index']) # ingenieria de base de datos

# Elaboracion de indice
ecu['Mes'] = ecu.mes.str.lower().map(mes3)
ecu.insert(3, 'fecha', ecu.Year.astype(str) + '-' + ecu.Mes)
ecu.index = ecu.fecha

# Variacion interanual
ecu.rename(columns={0:'Ecuador'},inplace=True)
ecu['Ecuador1'] = pd.to_numeric(ecu['Ecuador'],errors='coerce').pct_change(12)*100

ecu.Ecuador.tail()

fecha
2021-Agosto        168.508
2021-Septiembre    173.214
2021-Octubre       176.086
2021-Noviembre
2021-Diciembre
Name: Ecuador, dtype: object

In [91]:
imaela = round(pd.merge(imaelatam,ecu['Ecuador'],how='left',left_index=True,right_index=True),2)

In [92]:
#   imaela

df = np.array(tb.read_pdf('ecuador.pdf',pages = '5',stream=True,multiple_tables=True,pandas_options={'header':None}))
dff = pd.DataFrame(df.reshape(-1,5)) # en 2022 el reshape debe ser (-1,6)

dff[dff.iloc[3,2].split(' ')] = dff[2].str.split(' ',expand=True)
if dff.iloc[3,3] in range(2020,2040,1):
  dff[int(dff.iloc[3,3])] = dff[3]
  dff[int(dff.iloc[3,4])] = dff[4]
else:
  dff[int(dff.iloc[3,4])] = dff[4]

if dff.iloc[18,0] in ['Ene']:
    ecu = dff.iloc[18:30,[0,-3,-2,-1]].reset_index(drop=True)
else:
    ecu = dff.iloc[19:31,[0,-3,-2,-1]].reset_index(drop=True)
 
ecu['interanualAnterior'] = ecu.iloc[:,-2].astype(float)/ecu.iloc[:,-3].astype(float)*100-100
ecu['Ecuador'] = ecu.iloc[:,-2].astype(float)/ecu.iloc[:,-3].astype(float)*100-100

listames = [meses[1:][i][1] for i in range(len(meses[1:]))]
ecu['mes'] = listames

ecu.index = str(ecu.columns[-4]) + '-' + ecu.mes
ecu.dropna().tail(1)

### **Bolivia**

#### Publicaciones disponibles las fechas:
 
2. 
3. 
4.

In [30]:
urlbol = 'https://www.ine.gob.bo/index.php/estadisticas-economicas/indice-global-de-actividad-economica-igae/#1584545313102-06cf787f-a790'
header= {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) ' 
      'AppleWebKit/537.11 (KHTML, like Gecko) '
      'Chrome/23.0.1271.64 Safari/537.11',
      'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
      'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
      'Accept-Encoding': 'none',
      'Accept-Language': 'en-US,en;q=0.8',
      'Connection': 'keep-alive'}
req = urllib2.Request(url=urlbol, headers=header) 
page = urllib2.urlopen(req).read()

In [31]:
soupbol = BeautifulSoup(page,'lxml')
links = [a['href'] for a in soupbol.select("a[href*=nube.ine.gob.bo/index.php]")] # extraemos links que contengan nube.ine.gob
 # ultimos link disponibles
links # IGAE por actividad economica es el segundo

['https://nube.ine.gob.bo/index.php/s/lhzNu4ISQEuXS1M/download',
 'https://nube.ine.gob.bo/index.php/s/6Szm6RmYSBeRnsD/download',
 'https://nube.ine.gob.bo/index.php/s/qNQexpgoZroGCYG/download',
 'https://nube.ine.gob.bo/index.php/s/vsfGqiIoEXGddwJ/download',
 'https://nube.ine.gob.bo/index.php/s/k0bRzzNhBXb7Ae2/download']

In [32]:
urllib2.urlretrieve(links[1], "Bolivia.xlsx")
#https://nube.ine.gob.bo/index.php/s/6Szm6RmYSBeRnsD/download

URLError: ignored

In [ ]:
df = pd.read_excel('Bolivia.xlsx',header=9)
df.head(2)

In [ ]:
df.set_index(df.iloc[:,0],inplace=True)
df = df.iloc[:,1:] # eliminar primera columna y ultimas 3 filas
df = df.T.reset_index()

In [ ]:
df

In [ ]:
# PARA EXTRAER A√ëO DE COLUMNA INDEX
df['index'] = df['index'].astype(str).str.replace('\(p\)','')
df['index'] = df['index'].str.replace('^0.[0-9]','nan')      # reemplaza los numeros decimales regex que empiece por 0. y le siga cualquier num
df['index'] = df['index'].str.replace('^0$','nan')    # reemplaza toda fila con 0 como unico digito
df['index'] = pd.to_numeric(df['index'],errors='coerce').ffill().astype(int)

In [ ]:
df['fecha'] = df['index'].astype(str) +'-'+ df[0].str.lower().map(mes3) # columna fecha
df.set_index('fecha',inplace=True)
df.rename(columns={df.columns[2]:'Bolivia'},inplace=True)

In [ ]:
imaela = imaela.merge(df['Bolivia'],how='left',left_index=True,right_index=True)

In [ ]:
imaela

## **El Salvador**

#### Publicaciones disponibles las fechas:
 
3. >   30 Nov
4. >   23 Dic
5. >   31 Ene

In [93]:
from selenium import webdriver
pagina = 'https://www.bcr.gob.sv/bcrsite/?cdr=174&lang=es'

In [94]:
##### **Otra forma de selenium**
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',options=chrome_options)
wd.get(pagina)

In [95]:
 #BC El Salvador
#wd.get(pagina)

# Clicks pertinentes para llegar a la tabla con indices imae SV
wd.find_element(By.CLASS_NAME,'linkBtnNaranja').click() # ejecutar consulta

In [96]:
# PARA EXTRAER LOS VALORES DE LOS INDICES

tr = wd.find_element(By.ID,'tbl_setValores')
data = tr.find_element(By.TAG_NAME,'tr')
indices_salvador = pd.to_numeric(data.text.split(' ')) 


# PARA EXTRAER LAS FECHAS PARA EL MERGE
soupsv = BeautifulSoup(wd.page_source,'html.parser')
soupsv
anios_sv = soupsv.find_all('td', style='text-align:center')
mes_sv = soupsv.find_all('center')

fecha1 = [anios_sv[i].text for i in range(len(anios_sv))] # lista con a√±os 
fecha2 = [mes_sv[i].text.replace(' ','')[:3] for i in range(1,len(mes_sv))] # lista con meses en formato mmm

fecha=[]
for i in fecha1:
  for j in range(1,13):
    fecha.append(i + "-" + meses_dict[j])

In [97]:
# CREAR DF
elsv = pd.DataFrame(index = fecha,columns=['sv'])
for i in range(len(indices_salvador)):
  elsv.sv[i] = indices_salvador[i]

imaela['El Salvador'] = elsv.loc[imaela.index] # reemplazar valor en la tabla imaela

elsv.loc[imaela.index][-3:]

                     sv
2021-Mayo        114.56
2021-Octubre        NaN
2021-Septiembre  112.85

### **Paraguay**

In [98]:
url = 'https://www.bcp.gov.py/indicador-mensual-de-actividad-economica-del-paraguay-imaep-i471'
urlpy = 'https://www.bcp.gov.py/anexo-estadistico-del-informe-economico-i365'
#the URL where you are requesting at
req = urllib2.Request(url=urlpy, headers=header) 
page = urllib2.urlopen(req).read()

In [99]:
souppy = BeautifulSoup(page,'lxml')
links = [a['href'] for a in souppy.select("a[href*=.xlsx]")] # extraemos links que contengan 2021 
 # ultimos link disponibles
links

['userfiles/files/Anexo_Estad%C3%ADstico%20del%20Informe%20Econ%C3%B3mico_13_12_2021_v1%20.xlsx']

In [100]:
url2py = 'https://www.bcp.gov.py/' + links[0]
req2 = requests.get(url2py, headers = header)  # nueva forma de descargar excel file de pagina de py

In [101]:
import datetime
dfpy = pd.read_excel(req2.content,sheet_name='CUADRO 9',header=9).iloc[:-3,1:] # con limpieza iloc CUADRO 9 es IMAEP
dfpy.rename(columns={dfpy.columns[1]:"Paraguay"},inplace=True)

In [102]:
# FECHA COLUMNA
dfpy['A'] = pd.DatetimeIndex(dfpy[dfpy.columns[0]]).year
dfpy['M'] = pd.DatetimeIndex(dfpy[dfpy.columns[0]]).month.map(meses_dict)
dfpy['fecha'] = dfpy.A.astype(str) + "-" + dfpy.M.astype(str)
dfpy.set_index('fecha',inplace=True)

In [103]:
imaela = imaela.merge(dfpy['Paraguay'],how='left',left_index=True,right_index=True)

In [104]:
imaela

                 Costa Rica El Salvador  ...  Ecuador    Paraguay
2017-Abril            94.83      101.47  ...  150.921  105.779612
2017-Agosto           96.64      107.88  ...  153.826  107.165128
2017-Diciembre       108.11      117.41  ...  173.978  126.173820
2017-Enero            96.71      101.46  ...  162.432  106.924102
2017-Febrero          96.95       99.03  ...  141.786  109.528651
2017-Julio            96.27      105.54  ...  157.516  105.272717
2017-Junio            99.90      113.67  ...  153.307  105.009130
2017-Marzo           100.86      108.51  ...  157.139  119.931815
2017-Mayo             99.06       110.9  ...  157.813  108.540354
2017-Noviembre       107.71      110.29  ...  158.009  115.849140
2017-Octubre         103.97      103.21  ...  154.707  114.776307
2017-Septiembre       98.99      106.18  ...   154.52  108.662088
2018-Abril            99.60      107.97  ...  159.509  119.487514
2018-Agosto          101.12      111.88  ...  165.227  109.168817
2018-Diciembre       107.95       120.2  ...  182.962  126.061413
2018-Enero            99.21      105.05  ...  161.613  114.138104
2018-Febrero          99.00      102.42  ...  146.531  117.060188
2018-Julio           101.47      108.77  ...  161.364  110.058103
2018-Junio           103.46       113.6  ...  159.989  106.852593
2018-Marzo           103.54      108.34  ...  159.896  123.779771
2018-Mayo            104.56      112.53  ...  163.222  115.305203
2018-Noviembre       108.90      112.22  ...  162.899  116.308586
2018-Octubre         106.13      105.81  ...  170.739  116.874488
2018-Septiembre      101.69       107.5  ...  155.597  107.205366
2019-Abril           100.04      109.87  ...  155.292  113.096828
2019-Agosto          101.63      113.64  ...  164.993  110.677692
2019-Diciembre       111.39      123.83  ...  172.446  131.489783
2019-Enero           101.53      108.11  ...  161.595  113.291830
2019-Febrero         102.03      105.81  ...  153.172  113.704594
2019-Julio           102.64      111.58  ...  161.538  111.117146
2019-Junio           103.71      115.27  ...  156.816  105.228983
2019-Marzo           105.93      113.13  ...  158.183  117.858729
2019-Mayo            103.94      115.03  ...  161.097  112.317368
2019-Noviembre       112.06       117.2  ...  160.471  118.937014
2019-Octubre         109.33      109.15  ...  155.861  123.133512
2019-Septiembre      103.86      112.01  ...  160.034  114.610031
2020-Abril            90.88       88.31  ...  101.926   97.781980
2020-Agosto           93.35      102.54  ...  143.837  108.450742
2020-Diciembre       110.97      122.31  ...  171.892  134.068990
2020-Enero           104.13      110.91  ...  166.081  118.978597
2020-Febrero         105.17      109.93  ...  151.878  122.558164
2020-Julio            92.91       96.17  ...  141.261  111.676119
2020-Junio            97.03       97.05  ...  132.598  107.681770
2020-Marzo           103.55      105.58  ...  142.951  119.014428
2020-Mayo             93.09       89.77  ...  117.005  104.977220
2020-Noviembre       105.13      111.91  ...   152.31  120.075051
2020-Octubre         102.09      106.56  ...  156.349  123.210310
2020-Septiembre       97.99      106.35  ...  152.052  112.660274
2021-Abril           102.45      110.85  ...  159.056  117.278761
2021-Agosto          105.56      112.04  ...  168.508  113.325074
2021-Enero            97.54      109.03  ...  151.916  112.106721
2021-Febrero          99.94      108.59  ...   144.54  121.896877
2021-Julio           108.22      109.75  ...  168.483  115.287381
2021-Junio           105.86      114.35  ...  153.752  115.276331
2021-Marzo           107.64      114.86  ...  162.381  129.029260
2021-Mayo            105.50      114.56  ...  150.912  118.226522
2021-Octubre            NaN         NaN  ...  176.086  125.403526
2021-Septiembre      109.03      112.85  ...  173.214  119.125943

[58 rows x 14 columns]


url2 = 'https://www.bcp.gov.py/' + links[0] # -(numero mes)
opener = urllib2.build_opener()
opener.addheaders = [('User-agent', 'Mozilla/5.0')]
urllib2.install_opener(opener)
urllib2.urlretrieve(url2, "py.pdf")

'With pdf file

with fitz.open("py.pdf") as doc:
    text = ""
    for page in doc:
        text += page.get_text()

fechapy = text.split(' |',2)[1] # con el espacio
fechapy = fechapy.split(' ')[1] +'-'+fechapy.split(' ')[0]

Debido a que las tasas son iguales en Enero

if 'Enero' not in fechapy:
  valorpyinteranual = re.findall(r'[0-9]+,[0-9]+',text)[0] # para obtener tasa interanual          el regex sirve para buscar los registros numericos separados por coma
  valorpyacum = re.findall(r'[0-9]+,[0-9]+',text)[1] # para obtener tasa acumulada interanual
  valorpyinteranual = float(valorpyinteranual.replace(',','.'))
  valorpyacum = float(valorpyacum.replace(',','.'))
else:
   valorpyinteranual = re.findall(r'[0-9]+,[0-9]+',text)[0]
   valorpyinteranual = float(valorpyinteranual.replace(',','.'))
   valorpyacum = valorpyinteranual

print(fechapy)
print(valorpyinteranual,' Tasa interanual')
print(valorpyacum, ' Tasa acumulada interanual')


py = pd.DataFrame({'Fecha':['2021-Enero','2021-Febrero','2021-Marzo','2021-Abril','2021-Mayo','2021-Junio','2021-Julio','2021-Agosto','2021-Septiembre','2021-Octubre','2021-Noviembre','2021-Diciembre'],
                   'Paraguay_a':[-5.6,-3.0,0.7,4.7,6.3,6.3,6.0,5.7,0,0,0,0],
                   'Paraguay_i':[-5.6,-0.5,8.0,19.3,12.4,6.6,3.0,4.2,0,0,0,0]})
py.index = py.Fecha
dic = {'Fecha':fechapy,'Paraguay_a':valorpyacum,'Paraguay_i':valorpyinteranual}
py.loc[fechapy] = [fechapy,valorpyacum,valorpyinteranual]
py

In [105]:
imaela['a'] = [imaela.index.str.split('-')[i][0] for i in range(len(imaela.index))]
imaela = imaela.apply(pd.to_numeric)

In [106]:
# Crecimiento interanual
imaela1 = imaela.pct_change(12,fill_method=None)*100
imaela1.dropna(how='all',inplace=True) # NAs drop
imaela1.drop('a',axis=1,inplace=True)

In [107]:
# Crecimiento acumulado interanual
imaela2 = imaela.groupby('a').cumsum().pct_change(12,fill_method=None)*100
imaela2.dropna(how='all',inplace=True) # NAs drop

In [108]:
#!pip install selenium
#!apt-get update # to update ubuntu to correctly run apt install
#!apt install chromium-chromedriver
#!cp /usr/lib/chromium-browser/chromedriver /usr/bin
#import sys
#sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
#from selenium import webdriver
#chrome_options = webdriver.ChromeOptions()
#chrome_options.add_argument('--headless')
#chrome_options.add_argument('--no-sandbox')
#chrome_options.add_argument('--disable-dev-shm-usage')
#wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

### **Colombia**

#### Publicaciones disponibles las fechas: 
1. 17 sept    -    Julio
2. 19 Oct    -     Agosto
3. 16 Nov    -     Sep
4. 17 Dic    -     Oct

In [ ]:
wd.get(url1)

In [ ]:
wd.page_source

'<html><head><title>403 Forbidden</title></head>\n<body>\n<center><h1>403 Forbidden</h1></center>\n\n\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n<!-- a padding to disable MSIE and Chrome friendly error page -->\n</body></html>'

In [ ]:
!pip install fake_useragent
from fake_useragent import UserAgent
ua = UserAgent()
print(ua.chrome)
print(ua.random)

In [ ]:
url = 'https://www.dane.gov.co/index.php/estadisticas-por-tema/cuentas-nacionales/indicador-de-seguimiento-a-la-economia-ise/historicos-ise-comunicados-y-boletines'
url1 = 'https://www.dane.gov.co/index.php/estadisticas-por-tema/cuentas-nacionales/indicador-de-seguimiento-a-la-economia-ise'

header_col = {'authority': 'www.dane.gov.co', 'method': 'GET', 'path': '/index.php/estadisticas-por-tema/cuentas-nacionales/indicador-de-seguimiento-a-la-economia-ise',
'scheme': 'https', 'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
'referer':'https://www.dane.gov.co/index.php/estadisticas-por-tema/cuentas-nacionales/indicador-de-seguimiento-a-la-economia-ise',
'accept-encoding': 'gzip, deflate, br',
'accept-language': 'es-ES,es;q=0.9',
'cache-control': 'max-age=0',
'cookie': '_ga=GA1.3.1467282597.1625839173; _ga_T3L41X6043=GS1.1.1632235276.4.0.1632235284.0; ec1d9c9ecb5c2f4ef7998e3e52b19fdf=bvqfvrh7p0e0kgp1vf8bg29s68; _gid=GA1.3.2105323501.1637672614',
'sec-ch-ua': '"Google Chrome";v="95", "Chromium";v="95", ";Not A Brand";v="99"',
'sec-ch-ua-mobile': '?0',
'sec-ch-ua-platform': "Windows",
'sec-fetch-dest': 'document',
'sec-fetch-mode': 'navigate',
'sec-fetch-site': 'none',
'sec-fetch-user': '?1',
'upgrade-insecure-requests':' 1',
'user-agent': str(ua.random)}

req = urllib2.Request(url=url1, headers=hd) 
page = urllib2.urlopen(req).read()

In [ ]:
soupco = BeautifulSoup(page,'lxml')
links = [a['href'] for a in soupco.select("a[href*=21.xlsx]")] # extraemos links que contengan 21.xlsx 
 # ultimos link disponibles
links

In [ ]:
url2 = 'https://www.dane.gov.co' + links[0] # si esta el nuevo mes restarle 1 al indice de links
url3 = 'https://www.dane.gov.co/files/investigaciones/boletines/pib/Anex_ISE_9actividades_sep_21.xlsx'
#urllib2.urlretrieve(url2, "colombia.xlsx")
urllib2.urlretrieve(url3, "colombia.xlsx",)
df = pd.read_excel('colombia.xlsx',sheet_name='Cuadro 1',header=9)[0:16].T
df.columns = df.iloc[0]
df = df.iloc[:,[0,1,-1]].reset_index(drop=True)[1:]
df.tail(1)

In [ ]:
df['ano'] = df.Concepto.ffill().astype(str).str.replace('pr','').str.replace('p','')
df['Colombia'] = round(pd.to_numeric(df.loc[:,df.columns[-2]]),2)
df.index = df.ano.astype(str) + '-' + df.iloc[:,1].astype(str)

In [ ]:
imaela = imaela.merge(df['Colombia'],how='left',left_index=True,right_index=True)

##### PDF

df = np.array(tb.read_pdf('colombia.pdf',pages = '17',stream=True,multiple_tables=True,pandas_options={'header':None}))
dco = pd.DataFrame(df.reshape(-1,4))
dco = dco.loc[:,0:2]
dco.tail(1)

dco[3] = dco[2].str.split(' ',expand=True)[0] # Tomando las tasas de crecimiento de la tabla pdf
dco.rename(columns={1:'Colombia'},inplace=True)
dco['Colombia1'] = pd.to_numeric(dco[3].str.replace(',','.'),errors='coerce')  #Convirtiendo la data a numero
dco['Colombia'] = pd.to_numeric(dco['Colombia'].str.replace(',','.'),errors='coerce')

split = dco[0].str.split(' - ')     # extraer mes 
fech = []
for i in range(len(split)):
  if type(split[i]) == float:
    fech.append('0')
  elif len(split[i]) == 1 :
    fech.append(str(split[i][0]))
  else:
    fech.append(str(split[i][1].capitalize()))

anof=[]                          # extraer a√±o
for i in range(len(split)):
  if type(split[i]) == float:
    anof.append('0')
  elif len(split[i]) > 1 :
    anof.append(str(split[i][0]))
  else:
    anof.append(np.nan)

dco['mes'] = fech
dco['ano'] = anof
dco['ano'] = dco.ano.replace(['p','r',' '],['','',''],regex=True).ffill()
dco.index = dco['ano'] + '-' + dco['mes'] # creamos indice

## imae

In [109]:
# imaela.drop('a',axis=1,inplace=True)
imaela.drop('a',axis=1,inplace=True)

In [110]:
imaela.tail(2)

                 Costa Rica  El Salvador  ...     Ecuador    Paraguay
2021-Octubre            NaN          NaN  ...  176.086450  125.403526
2021-Septiembre      109.03       112.85  ...  173.213533  119.125943

[2 rows x 14 columns]

In [111]:
#@title Descarga a Excel
writer = pd.ExcelWriter('imae_latam.xlsx', engine='xlsxwriter')

imaela1.to_excel(writer, sheet_name='Interanual')
imaela2.to_excel(writer, sheet_name='Acumulado')
imaela.to_excel(writer, sheet_name='Indices - Serie Original')
writer.save()

files.download("imae_latam.xlsx")

In [ ]:
#@title Bar
f, ax = plt.subplots(figsize=(20, 8))
sns.barplot(data=imaela.iloc[-1:,:]);

In [ ]:
#@title Interanual Mes Anterior
f, ax = plt.subplots(figsize=(18, 8))
df = pd.melt(imaela1.iloc[-2:-1,:]).sort_values('value',ascending=False) 
sns.barplot(data = df ,x='value',y='variable',
                palette=['r' if y =='Rep√∫blica Dominicana' else '#0343DF' for y in df.variable])
for p in ax.patches:
    width = p.get_width()    # get bar length
    ax.text(width+0.2,       # set the text at 0.2 unit right of the bar
            p.get_y() + p.get_height() / 2, # get Y coordinate + X coordinate / 2
            '{:1.2f}'.format(width), # set variable to display, 2 decimals
            ha = 'left',   # horizontal alignment
            va = 'center', weight="bold") # vertical alignment
plt.title('IMAE LATAM \n Crecimiento Interanual (%) {}'.format(imaela.index[-2]),weight='bold');

In [ ]:
#@title Acumulado Interanual Mes Anterior
f, ax = plt.subplots(figsize=(18, 8))
df = pd.melt(imaela2.iloc[-2:-1,:]).sort_values('value',ascending=False) 
sns.barplot(data = df ,x='value',y='variable',
                palette=['r' if y =='Rep√∫blica Dominicana' else '#0343DF' for y in df.variable])
for p in ax.patches:
    width = p.get_width()    # get bar length
    ax.text(width+0.2,       # set the text at 0.2 unit right of the bar
            p.get_y() + p.get_height() / 2, # get Y coordinate + X coordinate / 2
            '{:1.2f}'.format(width), # set variable to display, 2 decimals
            ha = 'left',   # horizontal alignment
            va = 'center', weight="bold") # vertical alignment
plt.title('IMAE LATAM \n Crecimiento Acumulado Interanual (%) a {}'.format(imaela.index[-2]) ,weight='bold');

In [ ]:
#@title Interanual Ultimo Mes
f, ax = plt.subplots(figsize=(18, 8))
df = pd.melt(imaela1.iloc[-1:,:].dropna(axis=1)).sort_values('value',ascending=False) 
sns.barplot(data = df ,x='value',y='variable',
                palette=['r' if y =='Rep√∫blica Dominicana' else '#0343DF' for y in df.variable])
for p in ax.patches:
    width = p.get_width()    # get bar length
    ax.text(width+0.2,       # set the text at 0.2 unit right of the bar
            p.get_y() + p.get_height() / 2, # get Y coordinate + X coordinate / 2
            '{:1.2f}'.format(width), # set variable to display, 2 decimals
            ha = 'left',   # horizontal alignment
            va = 'center', weight="bold") # vertical alignment
plt.title('IMAE LATAM \n Crecimiento Interanual (%) {}'.format(imaela.index[-1]),weight='bold')
;

In [ ]:
#@title Acumulado Interanual Ultimo Mes
f, ax = plt.subplots(figsize=(18, 8))
df = pd.melt(imaela2.iloc[-1:,:].dropna(axis=1)).sort_values('value',ascending=False) 
sns.barplot(data = df ,x='value',y='variable',
                palette=['r' if y =='Rep√∫blica Dominicana' else '#0343DF' for y in df.variable])
for p in ax.patches:
    width = p.get_width()    # get bar length
    ax.text(width+0.2,       # set the text at 0.2 unit right of the bar
            p.get_y() + p.get_height() / 2, # get Y coordinate + X coordinate / 2
            '{:1.2f}'.format(width), # set variable to display, 2 decimals
            ha = 'left',   # horizontal alignment
            va = 'center', weight="bold") # vertical alignment
plt.title('IMAE LATAM \n Crecimiento Acumulado Interanual (%) a {}'.format(imaela.index[-1]) ,weight='bold');