<a href="https://colab.research.google.com/github/samyff12/LATAM/blob/main/IMF_BM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
! pip install wbgapi
import wbgapi as wb  # api importe de datos del WB
import pandas as pd
import numpy as np

Requirement already satisfied: wbgapi in /usr/local/lib/python3.7/dist-packages (1.0.7)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from wbgapi) (2.27.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from wbgapi) (0.8.9)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from wbgapi) (3.13)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->wbgapi) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->wbgapi) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->wbgapi) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests->wbgapi) (2.0.10)

In [44]:
wb.source.info(27)   # global economic prospects 27 INFO

id    name                       code      concepts  lastupdated
----  -------------------------  ------  ----------  -------------
27    Global Economic Prospects  GEP              3  2022-01-11
      1 elements

In [51]:
# lista de paises de LATAM
latam = list(dict(wb.economy.coder(['Latin America and the Caribbean','Argentina', 'Peru', 'Chile', 'Dominican Republic',
                  'Panama','Colombia','El Salvador','Guatemala','Mexico','Nicaragua','Bolivia',
                  'Costa Rica','Brazil','Honduras','Paraguay','Ecuador','Uruguay']))
.values())

latam.append('LCN') # añadiendo AL y el Caribe

data = wb.data.DataFrame('NYGDPMKTPKDZ', latam , db=27).sort_values('2021',ascending=False)

#2021 - 19
data['21/19 BM'] = ((100*(1+data['2020']/100))*(1+data['2021']/100) - 100).round(1)

data.sort_values('21/19',ascending=False)

         2019  2020  2021  2022  2023  21/19
economy
GTM       3.9  -1.5   7.6   3.9   3.5    6.0
CHL       0.9  -5.8  11.8   2.2   1.8    5.3
PRY      -0.4  -0.8   4.3   4.0   3.9    3.5
NIC      -3.7  -2.0   5.5   3.0   2.5    3.4
DOM       5.1  -6.8  10.8   5.0   5.0    3.3
COL       3.3  -6.8   9.9   4.1   3.5    2.4
BRA       1.2  -3.9   4.9   1.4   2.7    0.8
CRI       2.3  -4.1   5.0   3.5   3.2    0.7
PER       2.2 -11.1  13.2   3.2   3.0    0.6
LCN       0.8  -6.4   6.7   2.6   2.7   -0.1
SLV       2.6  -7.9   8.0   4.0   2.5   -0.5
ARG      -2.0  -9.9  10.0   2.6   2.1   -0.9
URY       0.4  -5.9   3.4   3.1   2.5   -2.7
MEX      -0.2  -8.2   5.7   3.0   2.2   -3.0
BOL       2.2  -8.8   5.5   3.5   2.7   -3.8
ECU       0.0  -7.8   3.9   3.1   2.5   -4.2
HND       2.7  -9.0   4.7   4.4   3.8   -4.7
PAN       3.0 -17.9   9.9   7.8   5.0   -9.8

Collecting weo
  Downloading weo-0.6.3-py3-none-any.whl (9.1 kB)
Collecting iso3166<2.0.0,>=1.0.1
  Downloading iso3166-1.0.1-py2.py3-none-any.whl (8.2 kB)
Collecting requests<3.0.0,>=2.25.1
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.8 MB/s
Requirement already satisfied: pandas<2.0.0,>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from weo) (1.1.5)
Collecting matplotlib==3.2
  Downloading matplotlib-3.2.0-cp37-cp37m-manylinux1_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 10.5 MB/s
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.2->weo) (3.0.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.2->weo) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.2->weo) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.2->weo) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.2->weo) (1.3.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.1.0->weo) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib==3.2->weo) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.25.1->weo) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.25.1->weo) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.25.1->weo) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.25.1->weo) (2.0.10)
Installing collected packages: requests, matplotlib, iso3166, weo
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed iso3166-1.0.1 matplotlib-3.2.0 requests-2.27.1 weo-0.6.3

In [ ]:
growth = 'NGDP_RPCH'
gdp_const = 'NGDP'

In [83]:



weo.all_releases()[-1][0]            # ultima publicacion

weo.download(year = weo.all_releases()[-1][0],
             release = weo.all_releases()[-1][1],
             filename="weo3.csv")

weo3.csv 0.1Mb
Downloaded 2021-Oct WEO dataset

('weo3.csv',
 'https://www.imf.org/-/media/Files/Publications/WEO/WEO-Database/2021/02/WEOOct2021all.xls')

In [ ]:
https://www.imf.org/-/media/Files/Publications/WEO/WEO-Database/2021/WEOOct2021all.ashx

https://www.imf.org/-/media/Files/Publications/WEO/WEO-Database/2021/WEOApr2021all.ashx

https://www.imf.org/-/media/Files/Publications/WEO/WEO-Database/2020/WEOApr2020all.ashx

In [10]:
import urllib.request as urllib2
! pip install weo
import weo
from weo import WEO

In [89]:
año = str(input())
mes = str(np.where(input()=='a','Apr','Oct'))

2021
a

In [91]:
url = 'https://www.imf.org/-/media/Files/Publications/WEO/WEO-Database/' + año + '/WEO' + mes + año + 'all.ashx' # link

# descarga de archivo
urllib2.urlretrieve(url,'weo.csv')

In [65]:
w = WEO('weo.csv') # extracción de base de datos (lectura de csv)

# obtencion crecimiento real desde 2019
dfweo = w.getc("NGDP_RPCH").loc['2019':,latam[1:-1]].T

# Comparativo prepandemia
dfweo['21/19 WEO'] = ((100*(1+dfweo['2020']/100))*(1+dfweo['2021']/100) - 100).round(1)
dfweo.sort_values('21/19',ascending=False)

      2019    2020    2021   2022   2023   2024   2025   2026  21/19

CHL  1.015  -5.845  10.999  2.471  1.878  1.990  2.273  2.490    4.5
PRY -0.402  -0.566   4.500  3.800  4.000  3.500  3.500  3.500    3.9
GTM  3.867  -1.519   5.500  4.501  3.750  3.500  3.500  3.500    3.9
NIC -3.674  -1.977   5.000  3.500  2.200  2.400  2.600  2.750    2.9
DOM  5.052  -6.720   9.521  5.502  5.027  4.986  4.974  4.950    2.2
BRA  1.411  -4.059   5.229  1.522  2.014  2.102  2.117  2.129    1.0
SLV  2.635  -7.944   9.025  3.540  2.340  2.245  2.045  1.800    0.4
COL  3.281  -6.796   7.608  3.834  3.256  3.410  3.445  3.500    0.3
CRI  2.256  -4.064   3.900  3.499  3.100  3.100  3.200  3.300   -0.3
PER  2.150 -11.004  10.038  4.562  4.513  3.254  3.201  3.167   -2.1
MEX -0.177  -8.309   6.247  4.001  2.204  1.999  1.998  2.000   -2.6
URY  0.350  -5.859   3.100  3.200  2.700  2.500  2.193  2.200   -2.9
ARG -2.088  -9.905   7.500  2.465  2.000  1.799  1.751  1.836   -3.1
BOL  2.217  -8.829   4.950  4.000  3.700  3.600  3.500  3.400   -4.3
HND  2.653  -8.965   4.900  4.350  3.540  3.640  3.740  3.940   -4.5
ECU  0.012  -7.750   2.796  3.506  2.526  2.595  2.752  2.753   -5.2
PAN  3.040 -17.949  11.951  5.000  5.000  5.000  5.000  5.000   -8.1

In [90]:
w1 = WEO('weo4.csv')
dfweo1 = w1.getc("NGDP_RPCH").loc['2019':,latam[1:-1]].T
dfweo1['21/19'] = ((100*(1+dfweo1['2020']/100))*(1+dfweo1['2021']/100) - 100).round(1)
dfweo1.sort_values('21/19',ascending=False)

      2019    2020    2021   2022   2023   2024   2025   2026  21/19

PRY -0.030  -0.900   4.000  4.000  4.000  3.500  3.500  3.500    3.1
GTM  3.846  -1.500   4.500  4.001  3.500  3.500  3.500  3.500    2.9
CHL  1.020  -5.841   6.174  3.822  2.684  2.495  2.457  2.549   -0.0
BRA  1.411  -4.059   3.655  2.565  2.141  2.015  2.015  2.015   -0.6
DOM  5.052  -6.731   5.481  4.961  5.039  4.966  5.000  5.000   -1.6
COL  3.281  -6.847   5.150  3.617  3.953  3.845  3.845  3.645   -2.0
CRI  2.168  -4.796   2.595  3.296  3.095  3.103  3.200  3.304   -2.3
BOL  2.217  -7.700   5.500  4.200  3.800  3.700  3.500  3.400   -2.6
NIC -3.879  -3.000   0.237  2.700  2.000  1.800  2.100  2.750   -2.8
URY  0.331  -5.700   3.000  3.100  2.660  2.560  2.300  2.300   -2.9
MEX -0.055  -8.239   5.004  3.002  2.132  2.023  2.011  2.015   -3.6
PER  2.226 -11.115   8.498  5.159  4.751  3.377  3.252  3.251   -3.6
HND  2.651  -8.000   4.500  3.300  3.465  3.640  3.740  3.940   -3.9
SLV  2.382  -8.580   4.200  2.840  2.546  2.326  2.070  2.040   -4.7
ARG -2.088  -9.956   5.839  2.475  2.060  1.712  1.634  1.534   -4.7
ECU  0.012  -7.500   2.502  1.297  1.695  2.019  2.296  2.502   -5.2
PAN  3.040 -17.949  12.045  5.000  5.000  5.000  5.000  5.000   -8.1

In [56]:
dfweo.columns

Index(['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'ABW', 'AUS',
       ...
       'USA', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'WBG', 'YEM', 'ZMB', 'ZWE'],
      dtype='object', name='', length=196)